@import "../layout/colors", "../layout/fonts", "../layout/mixins";

magazines {
  display: block;
  width: 100%;
  .filters {
    margin-bottom: 40px;
  }
  .magazine {
    text-align: center;
    margin: 40px 0;
    figure {
      width: 100%;
      a {
        display: block;
        text-align: center;
        &:hover {
          img {
            @include animation(pulse, 0.3s);
          }
        }
        img {
          width: 100%;
          display: inline-block;
          margin: 0 0 40px 0;
          height: auto;
        }
      }
    }
    h1 {
      font-weight: 400;
      font-size: $font-size-menu;
      margin: 0 0 10px 0;
      text-transform: none;
      @media screen and (max-width: 991px) {
        font-size: $font-size-medium;
      }
    }
    h2 {
      color: $papyrus;
      font-size: $font-size-normal;
      margin: 0;
      font-weight: 300;
      text-transform: none;
      @media screen and (max-width: 991px) {
        font-size: $font-size-small-medium;
      }
    }
    hr {
      border: none;
      border-bottom: 1px solid lighten($secondary, 70%);
      margin: 20px 0 10px;
    }
    h3 {
      color: $primary;
      font-size: $font-size-normal;
      font-weight: 300;
      margin: 0;
      border-bottom: none;
      @media screen and (max-width: 991px) {
        font-size: $font-size-small;
      }
      b {
        font-weight: 400;
      }
    }
  }
}

magazine {
  display: block;
  width: 100%;
  .container {
    > .row {
      > div {
        &:first-child {
          @media screen and (min-width: 992px) {
            padding-right: 40px;
          }
        }
        &:last-child {
          @media screen and (min-width: 992px) {
            padding-left: 40px;
          }
        }
      }
    }
  }
  .banner {
    height: 200px;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @media screen and (max-width: 767px) {
      height: auto;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $secondary;
      opacity: 0.5;
    }
    .container {
      height: 100%;
      @include flex(flex-start, flex-end, column);
      padding-top: 40px;
      padding-bottom: 40px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 767px) {
        display: block;
      }
      h1, h2 {
        color: white;
        text-transform: none;
      }
      h1 {
        font-weight: 400;
        font-size: $font-size-bigger;
        margin: 0;
        @media screen and (max-width: 767px) {
          font-size: $font-size-largest;
        }
      }
      h2 {
        font-weight: 300;
        font-size: $font-size-large;
        margin: 0 0 10px 0;
        @media screen and (max-width: 767px) {
          font-size: $font-size-medium;
        }
      }
    }
  }
}