<div class="banner" ng-style="{'background-image' : 'url(' + $ctrl.magazine.image.path + ')'}">
    <div class="container">
        <h2 ng-bind="$ctrl.magazine.date | date:'d MMMM yyyy'"></h2>
        <h1 ng-bind="$ctrl.magazine.title"></h1>
    </div>
</div>
<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="content" ng-bind-html="$ctrl.magazine.content"></div>
                <docs docs="$ctrl.magazine.docs"></docs>
            </div>
        </div>
    </div>
</div>