<div class="filters">
    <form ng-submit="$ctrl.search()" class="input-group input-group-lg">
        <input class="form-control" type="text" ng-model="$ctrl.searchText"
               placeholder="{{'form.placeholder.search.magazine' | translate}}">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-bind="'form.buttons.search' | translate"></button>
            <button type="button" class="btn btn-outline"
                    ng-show="params.search.length"
                    ng-click="$ctrl.clear()"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </form>
</div>

<div class="alert"
     ng-show="!$ctrl.magazines.length">
    <span class="glyphicon glyphicon-info-sign"></span>
    <span ng-bind="'magazines.alerts.noMagazines' | translate"></span>
</div>

<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-6"
         ng-repeat="magazine in $ctrl.magazines">
        <div class="magazine">
            <figure>
                <a ui-sref="magazine({id: magazine.id})">
                    <img class="img-circle"
                         ng-src="{{(magazine.image.thumb) ? magazine.image.thumb : 'img/magazines/thumbs/default.svg'}}">
                </a>
            </figure>
            <h1 ng-bind="magazine.title"></h1>
            <h2 ng-bind="magazine.date | date:'MMMM yyyy'"></h2>
            <hr>
            <h3>
                <b ng-bind="('magazines.volume' | translate) + ': '"></b>
                <span ng-bind="magazine.volume"></span>
                <b ng-bind="('magazines.number' | translate) + ': '"></b>
                <span ng-bind="magazine.number"></span>
            </h3>
        </div>
    </div>
</div>

<uib-pagination
        ng-show="$ctrl.total > params.limit"
        total-items="$ctrl.total"
        items-per-page="params.limit"
        template-url="pagination.template.html"
        max-size="5"
        rotate="false" data-ng-model="params.page"
        previous-text="{{'form.buttons.prev' | translate}}"
        next-text="{{'form.buttons.next' | translate}}"></uib-pagination>