@import "../layout/colors", "../layout/fonts", "../layout/mixins";

videos {
  display: block;
  width: 100%;
  .video {
    figure {
      a {
        img {
          display: block;
          width: 100%;
          height: auto;
        }
        &:hover {
          img {
            @include animation(pulse, 0.3s);
          }
        }
      }
    }
  }
}