<div class="alert"
     ng-show="!$ctrl.videos.length">
    <span class="glyphicon glyphicon-info-sign"></span>
    <span ng-bind="'videos.alerts.noVideos' | translate"></span>
</div>
<div class="video" ng-repeat="video in $ctrl.videos">
    <figure>
        <a href ng-click="$ctrl.lightBox($index)">
            <img ng-src="{{video.image.thumb}}">
        </a>
    </figure>
    <h2 ng-bind="video.date | date: 'd MMMM yyyy'"></h2>
    <h1 ng-bind="video.title"></h1>
</div>