@import "../layout/colors", "../layout/fonts", "../layout/mixins";

posts {
  display: block;
  width: 100%;
  .post {
    margin: 20px 0 40px 0;
    figure {
      margin-bottom: 40px;
      a:hover {
        img {
          @include animation(pulse, 0.3s);
        }
      }
      img {
        width: 100%;
        height: auto;
        display: block;

      }
    }
    h1 {
      text-transform: none;
      font-weight: 400;
      margin-bottom: 20px;
      @media screen and (max-width: 991px) {
        margin-bottom: 10px;
        font-size: $font-size-medium-large;
      }
      a {
        color: $secondary;
        &:hover {
          color: $primary;
        }
      }
    }
    h2 {
      margin: 0;
      @media screen and (max-width: 991px) {
        font-size: $font-size-small-medium;
      }
    }
    p {
      font-size: $font-size-normal;
      margin: 15px 0;
      line-height: normal;
      @media screen and (max-width: 991px) {
        font-size: $font-size-small-medium;
      }
    }
    nav {
      display: block;
      span {
        &:not(.glyphicon) {
          font-family: $font-secondary;
          margin: 0 4px;
        }
        color: $papyrus;
        font-size: $font-size-small;
      }
    }
  }
}

post {
  display: block;
  width: 100%;
  .container {
    > .row {
      > div {
        &:first-child {
          @media screen and (min-width: 992px) {
            padding-right: 40px;
          }
        }
        &:last-child {
          @media screen and (min-width: 992px) {
            padding-left: 40px;
          }
        }
      }
    }
  }
  .banner {
    height: 200px;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @media screen and (max-width: 767px) {
      height: auto;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $secondary;
      opacity: 0.5;
    }
    .container {
      height: 100%;
      @include flex(flex-start, flex-end, column);
      padding-top: 40px;
      padding-bottom: 40px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 767px) {
        display: block;
      }
      h1, h2 {
        color: white;
        text-transform: none;
      }
      h1 {
        font-weight: 400;
        font-size: $font-size-bigger;
        margin: 0;
        @media screen and (max-width: 767px) {
          font-size: $font-size-largest;
        }
      }
      h2 {
        font-weight: 300;
        font-size: $font-size-large;
        margin: 0 0 10px 0;
        @media screen and (max-width: 767px) {
          font-size: $font-size-medium;
        }
      }
    }
  }
  posts {
    .post.media {
      margin: 20px 0;
      padding: 20px 0;
      border-bottom: 1px solid lighten($secondary, 50%);
      .media-object {
        padding: 0;
        margin: 0 0 20px 0;
        @media screen and (min-width: 768px) and (max-width: 991px) {
          float: left;
          margin-right: 40px;
          width: 150px;
          height: 150px;
          @include border-radius(100%);
          overflow: hidden;
        }
        img {
          width: 100%;
          height: auto;
          @media screen and (min-width: 768px) and (max-width: 991px) {
            width: auto;
            height: 100%;
          }
        }

      }
      .media-body {
        .media-heading {
          margin: 5px 0 10px 0;
          font-family: $font-secondary;
          font-size: $font-size-medium-large;
          text-transform: none;
          font-weight: 300;
          a {
            color: $secondary;
            &:hover {
              color: $primary;
            }
          }
        }
        h2 {
          font-size: $font-size-small;
        }
        nav {
          display: block;
          span {
            &:not(.glyphicon) {
              font-family: $font-secondary;
              margin: 0 4px;
            }
            color: $papyrus;
            font-size: $font-size-small;
          }
        }
        p {
          font-size: $font-size-normal;
          @media screen and (max-width: 991px) {
            font-size: $font-size-small-medium;
          }
        }
      }
    }
  }
}