<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7 col-sm-6">
                <h2 ng-bind="'posts.subtitle' | translate"></h2>
                <h1 ng-bind="'posts.title' | translate"></h1>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-6">
                <form ng-submit="$ctrl.search()" class="input-group input-group-lg">
                    <input class="form-control" type="text" ng-model="$ctrl.searchText"
                           placeholder="{{'form.placeholder.search.event' | translate}}">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary"
                                ng-bind="'form.buttons.search' | translate"></button>
                        <button type="button" class="btn btn-outline"
                                ng-show="params.search.length"
                                ng-click="$ctrl.clear()"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </form>
            </div>
        </div>

        <div class="alert"
             ng-show="!$ctrl.posts.length">
            <span class="glyphicon glyphicon-info-sign"></span>
            <span ng-bind="'posts.alerts.noPosts' | translate"></span>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4"
                 ng-repeat="post in $ctrl.posts">
                <div class="post">
                    <figure>
                        <a ng-href="{{post.url}}" target="_blank">
                            <img ng-src="{{post.image.thumb}}">
                        </a>
                    </figure>
                    <h2 ng-bind="post.created_at | moment:'post'"></h2>
                    <h1>
                        <a ng-href="{{post.url}}" target="_blank" ng-bind="post.title"></a>
                    </h1>
                    <nav>
                        <span class="glyphicon glyphicon-comment"></span>
                        <span ng-bind="(post.comments_count.length) ? post.comments_count[0].aggregate : 0"></span>
                        <span ng-if="post.tags.length" class="glyphicon glyphicon-tags"></span>
                        <span ng-if="post.tags.length" ng-bind="post.tags | postTags"></span>
                    </nav>
                    <p ng-bind="post.excerpt"></p>
                </div>
            </div>
        </div>

        <uib-pagination
                ng-show="$ctrl.total > params.limit"
                total-items="$ctrl.total "
                items-per-page="params.limit"
                template-url="pagination.template.html"
                max-size="5"
                rotate="false" data-ng-model="params.page"
                previous-text="{{'form.buttons.prev' | translate}}"
                next-text="{{'form.buttons.next' | translate}}"></uib-pagination>
    </div>
</div>