<div class="post"
     ng-repeat="post in $ctrl.posts">
    <h1>
        <a href ng-href="{{post.url}}" target="_blank" ng-bind="post.title"></a>
    </h1>
    <nav>
        <span class="glyphicon glyphicon-time"></span>
        <span ng-bind="post.created_at | moment:'date'"></span>
        <span class="glyphicon glyphicon-comment"></span>
        <span ng-bind="(post.comments_count.length) ? post.comments_count[0].aggregate : 0"></span>
        <span ng-if="post.tags.length" class="glyphicon glyphicon-tags"></span>
        <span ng-if="post.tags.length" ng-bind="post.tags | postTags"></span>
    </nav>
</div>