<div class="alert"
     ng-show="!$ctrl.posts.length">
    <span class="glyphicon glyphicon-info-sign"></span>
    <span ng-bind="'posts.alerts.noPosts' | translate"></span>
</div>

<div class="post media"
     ng-repeat="post in $ctrl.posts">
    <figure class="media-object pull-left">
        <a ui-sref="post({id: post.id})">
            <img ng-src="{{post.image.thumb}}">
        </a>
    </figure>
    <div class="media-body">
        <h2 ng-bind="post.created_at | date: 'd MMMM yyyy'"></h2>
        <h1>
            <a ui-sref="post({slug: post.slug})" ng-bind="post.title"></a>
        </h1>
        <nav>
            <span class="glyphicon glyphicon-comment"></span>
            <span ng-bind="(post.comments_count.length) ? post.comments_count[0].aggregate : 0"></span>
            <span ng-if="post.tags.length" class="glyphicon glyphicon-tags"></span>
            <span ng-if="post.tags.length" ng-bind="post.tags | postTags"></span>
        </nav>
        <p ng-bind="post.excerpt"></p>
        <p>
            <a ui-sref="post({slug: post.slug})" class="btn btn-primary btn-sm"
               ng-bind="'posts.buttons.readMore' | translate"></a>
        </p>
    </div>
</div>

<uib-pagination
        ng-show="$ctrl.total > params.limit"
        total-items="$ctrl.total"
        items-per-page="params.limit"
        template-url="pagination.template.html"
        max-size="5"
        rotate="false" data-ng-model="params.page"
        previous-text="{{'form.buttons.prev' | translate}}"
        next-text="{{'form.buttons.next' | translate}}"></uib-pagination>