<div class="banner" ng-style="{'background-image' : 'url(' + $ctrl.post.image.path + ')'}">
    <div class="container">
        <h2 ng-bind="$ctrl.post.created_at | moment:'post'"></h2>
        <h1 ng-bind="$ctrl.post.title"></h1>
    </div>
</div>
<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12">
                <div class="content" ng-bind-html="$ctrl.post.content"></div>
                <div class="margin">
                    <h2 ng-bind="'posts.comments.subtitle' | translate"></h2>
                    <h1 ng-bind="'posts.comments.title' | translate"></h1>
                    <comments comments="$ctrl.post.comments"></comments>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <h2 ng-bind="'posts.related.subtitle' | translate"></h2>
                <h1 ng-bind="'posts.related.title' | translate"></h1>
                <posts limit="3" ignore="$ctrl.post.id" template-url="posts.related.component.html"></posts>
            </div>
        </div>
    </div>
</div>