<div class="post media"
     ng-repeat="post in $ctrl.posts">
    <figure class="media-object">
        <a href ng-href="{{post.url}}" target="_blank">
            <img ng-src="{{post.image.thumb}}">
        </a>
    </figure>
    <div class="media-body">
        <h2 ng-bind="post.created_at | moment:'post'"></h2>
        <h1 class="media-heading">
            <a href ng-href="{{post.url}}" target="_blank" ng-bind="post.title"></a>
        </h1>
        <nav>
            <span class="glyphicon glyphicon-comment"></span>
            <span ng-bind="(post.comments_count.length) ? post.comments_count[0].aggregate : 0"></span>
            <span ng-if="post.tags.length" class="glyphicon glyphicon-tags"></span>
            <span ng-if="post.tags.length" ng-bind="post.tags | postTags"></span>
        </nav>
        <p ng-bind="post.excerpt"></p>
    </div>
</div>