@import "../layout/colors", "../layout/fonts", "../layout/mixins";

contact {
  directory {
    .member.media {
      margin: 20px 0;
      padding: 0;
      @include flex();
      .media-object.pull-left {
        padding: 0;
        margin-right: 20px;
        img {
          width: 60px;
          height: 60px;
          margin: 0;
        }
      }
      .media-body {
        text-align: left;
        h1 {
          margin: 0;
          font-size: $font-size-medium;
        }
        h2 {
          margin: 0 0 5px 0;
          font-size: $font-size-small;
        }
        hr {
        }
        a {
          margin: 0;
          color: lighten($brown, 10%);
          font-size: $font-size-small;
        }
      }
    }
  }
}