<form name="contactForm" ng-submit="$ctrl.send()">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="form-group-lg required">
                <label ng-bind="'form.label.name' | translate"></label>
                <input type="text" class="form-control" required name="name"
                       placeholder="{{'form.placeholder.name' | translate}}"
                       ng-model="$ctrl.contact.name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="form-group-lg required">
                <label ng-bind="'form.label.email' | translate"></label>
                <input type="email" class="form-control" required name="email"
                       placeholder="{{'form.placeholder.email' | translate}}"
                       ng-model="$ctrl.contact.email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="form-group-lg">
                <label ng-bind="'form.label.institution' | translate"></label>
                <input type="text" class="form-control" name="institution"
                       placeholder="{{'form.placeholder.institution' | translate}}"
                       ng-model="$ctrl.contact.institution">
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="form-group-lg">
                <label ng-bind="'form.label.phone' | translate"></label>
                <input type="tel" class="form-control" name="phone" maxlength="8"
                       placeholder="{{'form.placeholder.phone' | translate}}"
                       ng-model="$ctrl.contact.phone">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="form-group-lg required">
                <label ng-bind="'form.label.message' | translate"></label>
                <textarea class="form-control" required name="message" maxlength="300"
                          placeholder="{{'form.placeholder.message' | translate}}"
                          rows="3" ng-model="$ctrl.contact.message"></textarea>
            </div>
        </div>
    </div>
    <div class="row last">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6">
            <div class="form-group">
                <button type="reset" class="btn btn-default btn-lg btn-block"
                        ng-bind="'form.buttons.clear' | translate"></button>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block"
                        ng-disabled="contactForm.$invalid || $ctrl.loading"
                        ng-bind="'form.buttons.send' | translate"></button>
            </div>
        </div>
    </div>
</form>