@import "colors", "fonts", "mixins";

.alert {
  @include border-radius(0);
  margin: 20px 0;
  border-color: lighten($primary, 25%);
  background-color: lighten($primary, 38%);
  color: $primary;
  font-family: $font-secondary;
  .glyphicon {
    margin-right: 5px;
    color: $primary;
  }
}