@import "colors", "fonts", "mixins";

.btn {
  @include border-radius(0);
  font-family: $font-secondary;
  font-size: $font-size-normal;
  font-weight: 400;
  &.btn-outline,
  &.btn-default {
    background: white;
    border-color: $primary;
    color: $primary;
    font-weight: 400;
    @include transition(all, 0.3s);
    &:hover {
      border-color: lighten($primary, 20%);
      color: lighten($primary, 20%);
      img {
        opacity: 0.8;
      }
    }
    img {
      @include transition(opacity, 0.3s);
      margin-right: 5px;
      vertical-align: top;
    }
  }
  &.btn-primary {
    background: $primary;
    border-color: $primary;
    color: white;
    &:hover {
      background: darken($primary, 5%);
      border-color: darken($primary, 5%);
    }
  }
  &.btn-secondary {
    background: $secondary;
    border-color: $secondary;
    color: white;
    &:hover {
      background: darken($secondary, 5%);
      border-color: darken($secondary, 5%);
    }
  }
  &.btn-md {
    font-size: $font-size-normal;
  }
  &.btn-lg {
    height: 46px;
    font-size: $font-size-medium;
  }
  &.btn-sm {
    font-size: $font-size-small;
  }
}

.input-group-lg {
  .input-group-btn {
    .btn {
      font-size: $font-size-medium;
    }
  }
}

.dropdown {

  > .btn {
    position: relative;
    @include flex();
    .caret {
      position: absolute;
      right: 10px;
      top: calc(50% - 2px);
    }
    span:not(.caret) {
      display: block;
      text-align: left;
      padding-right: 15px;
      width: 100%;
    }
  }
  .dropdown-menu {
    @include border-radius(0);
    @include box-shadow(1px 1px 2px 0 lighten($primary, 50%));
    min-width: 100%;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    position: absolute;
    background: lighten($secondary, 83%);
    > li {
      a {
        @include transition(all, 0.3s);
        display: block;
        white-space: nowrap;
        font-weight: normal;
        font-size: $font-size-small;
        padding: 5px 10px;
        color: $secondary;
        font-family: $font-secondary;
        &:hover {
          background: lighten($papyrus, 10%);
        }
        &.active {
          background: $primary;
          color: white;
        }
      }
    }
    .full-width {
      max-width: 100%;
      width: 100%;
    }
  }

  &.open {
    > .btn:focus,
    > .btn:hover {
      color: white;
      background: $primary;
      border-color: $primary;
    }
  }
}

