$primary: #ff462e;
$form: #736357;
$secondary: #2A2421;
$complementary: #b3a08e;
$papyrus: #C0C0C0;
$brown: #C48E72;
$green: #39B54A;
$blue: #1972f4;
$yellow: #FFEA00;
$red: #E53935;
$gray: #4D4D4D;
$gray: #4D4D4D;
$dashboard: #303533;
$dashboard-active: #595D5C;
$facebook: #385591;
$gray-input: #F1F1F1;
$gray-menu: #E5E5E5;