$font-primary: 'Merriweather', serif;
$font-secondary: 'Open Sans', sans-serif;

$font-size-huge: 100px;
$font-size-biggest: 48px;
$font-size-bigger: 36px;
$font-size-big: 32px;
$font-size-largest: 28px;
$font-size-larger: 24px;
$font-size-large: 20px;
$font-size-medium-large: 18px;
$font-size-menu: 17px;
$font-size-medium: 16px;
$font-size-normal-medium: 15px;
$font-size-normal: 14px;
$font-size-small-medium: 13px;
$font-size-small: 12px;
$font-size-smaller: 11px;
$font-size-smallest: 10px;