@import "../layout/colors", "../layout/fonts", "../layout/mixins";

footer {
  display: block;
  width: 100%;
  background: $secondary;
  &.bottom-sticky {
    bottom: 0;
    clear: both;
    position: absolute;
  }
  .columns {
    padding: 60px 0 0 0;
    @media screen and (max-width: 767px) {
      padding: 30px 0 0 0;
    }
    h1 {
      color: $primary;
      font-family: $font-secondary;
      font-size: $font-size-medium-large;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0 0 40px 0;
      @media screen and (max-width: 767px) {
        margin: 0 0 20px 0;
      }
    }
  }
  posts {
    display: block;
    width: 100%;
    padding-right: 30px;
    @media screen and (max-width: 767px) {
      padding-right: 0;
    }
    > .post {
      margin: 20px 0;
      padding: 20px 0;
      border-bottom: 1px solid lighten($secondary, 50%);
      @media screen and (max-width: 991px) {
        margin: 10px 0;
        padding: 10px 0;
      }
      &:last-child {
        border-bottom: none;
      }
      h1 {
        margin: 0 0 10px 0;
        font-family: $font-secondary;
        font-size: $font-size-normal;
        text-transform: none;
        font-weight: 300;
        text-align: left;
        a {
          color: white;
          &:hover {
            color: $primary;
          }
        }
      }
      nav {
        display: block;
        span {
          &:not(.glyphicon) {
            font-family: $font-secondary;
            margin: 0 4px;
          }
          color: lighten($secondary, 40%);
          font-size: $font-size-small;
        }
      }
      p {
        font-size: $font-size-normal;
      }
    }
  }

  profiles {
    display: block;
    width: 100%;
    .profile.media {
      @include flex();
      margin: 30px 0;
      padding: 0;
      border: none;
      .media-object.pull-left {
        padding: 0;
        margin-right: 20px;
        @media screen and (max-width: 991px) {
          margin-right: 10px;
        }
        img {
          width: 80px;
          height: 80px;
          @media screen and (max-width: 991px) {
            width: 40px;
            height: 40px;
          }
        }
      }
      .media-body {
        width: calc(100% - 100px);
        @media screen and (max-width: 991px) {
          width: calc(100% - 50px);
        }
      }
      h1.media-heading {
        font-family: $font-secondary;
        font-size: $font-size-medium;
        font-weight: 300;
        text-transform: none;
        color: white;
        margin: 0 0 5px 0;
        @media screen and (max-width: 991px) {
          font-size: $font-size-normal;
        }
      }
      .media-body {
        a {
          font-family: $font-secondary;
          font-size: $font-size-normal;
          @media screen and (max-width: 991px) {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: $font-size-small;
          }
        }
      }
    }
  }

  faq {
    display: block;
    width: 100%;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: block;
        margin: 25px 0;
        font-family: $font-secondary;
        font-size: $font-size-normal;
        @media screen and (max-width: 991px) {
          font-size: $font-size-small-medium;
          margin: 15px 0;
        }
        a {
          color: white;
          @include transition(all, 0.3s);
          @media screen and (max-width: 991px) {
            @include flex(flex-start, flex-start);
          }
          &:hover {
            color: $primary;
            padding-left: 15px;
          }
        }
        .glyphicon {
          margin-right: 5px;
        }
      }
    }
  }

  .credits {
    padding: 20px 0 20px 0;
    @media screen and (max-width: 767px) {
      padding: 30px 0;
    }
    .container {
      text-align: center;
      > span, > a, > div {
        display: inline-block;
        letter-spacing: 0.05em;
        font-size: $font-size-smaller;
        font-family: $font-secondary;
        text-transform: uppercase;
        color: lighten($secondary, 40%);
        &:not(:first-child) {
          @media screen and (min-width: 768px) {
            margin: 0 0 0 20px;
            padding: 0 0 0 20px;
            border-left: 1px solid lighten($secondary, 40%);
          }
        }
      }
    }
  }

}