@import "mixins", "colors", "fonts";

form {
  label {
    display: block;
    margin: 15px 0;
    font-size: $font-size-normal;
    font-family: $font-secondary;
    font-weight: bold;
    &.light {
      font-weight: normal;
    }
  }
  .row.last {
    margin-top: 20px;
  }
}

.form-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-group-lg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-group,
.form-group-lg {
  label {
    margin: 5px 0;
    color: $form;
    font-weight: 300;
  }
  &.required {
    label:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 6px;
      height: 6px;
      @include border-radius(100%);
      background: $primary;
      margin-left: 5px;
    }
  }
  .form-control {
    @include border-radius(0);
  }
}

.form-group-lg {
  .form-control,
  select.form-control {
    font-size: $font-size-medium;
    @media screen and (max-width: 991px) {
      font-size: $font-size-normal;
    }
  }
  select.form-control {
    line-height: normal;
  }
}

.form-control,
select.form-control {
  @include border-radius(0);
  @include box-shadow(none);
  background: lighten($papyrus, 22%);
  border-color: lighten($papyrus, 15%);
  font-family: $font-secondary;
  font-size: $font-size-normal;
  color: $secondary;
  resize: vertical;
  @media screen and (max-width: 991px) {
    font-size: $font-size-small-medium;
  }
}

.input-group,
.input-group-lg {
  .form-control {
    @include border-radius(0);
    @media screen and (max-width: 991px) {
      font-size: $font-size-normal;
    }
  }
  .input-group-btn {
    .btn {
      @include border-radius(0);
    }
  }
}

select.form-control {
  @include appearance(none);
  @include border-radius(0);
  background: lighten($papyrus, 22%) url("../img/icons/caret.svg") no-repeat right 15px center / 12px auto;
  border-color: lighten($papyrus, 15%);
  padding-right: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}