@import "mixins", "colors", "fonts";

header {
  height: 150px;
  background: white;
  position: relative;
  z-index: 10;
  @include box-shadow(none);
  @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.05));
  @media screen and (max-width: 767px) {
    height: 100px;
  }
  .navbar {
    height: 100%;
    background: none;
    @include border-radius(0);
    @include box-shadow(none);
    margin: 0;
    border: none;
    .container,
    .navbar-header,
    .navbar-collapse,
    .navbar-brand {
      height: 100%;
    }
    .navbar-header {
      width: 277px;
      @media screen and (min-width: 768px) {
        background: url("../img/assets/dark-triangle.svg") no-repeat top right;
      }
      @media screen and (max-width: 767px) {
        width: calc(100% + 30px);
        background: $secondary;
        @include flex(center, space-between);
      }
      .navbar-brand {
        @include flex();
        background: $secondary;
        position: relative;
        @media screen and (max-width: 767px) {
          width: calc(100% - 100px);
          @include flex(center, flex-start);
        }
        img {
          @media screen and (max-width: 767px) {
            width: 120px;
            height: auto;
          }
        }
        &:before {
          content: '';
          display: block;
          height: 100%;
          width: 20000em;
          position: absolute;
          right: 100%;
          top: 0;
          background: $secondary;
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
      }
      > .btn {
        @media screen and (min-width: 768px) {
          display: none;
        }
        @media screen and (max-width: 767px) {
          @include flex(center, center, column);
          width: 50px;
          height: 50px;
          padding: 12px 0;
          @include border-radius(100%);
          .icon-bar {
            display: block;
            width: 26px;
            height: 3px;
            background: white;
            margin: 2px 0;
            @include border-radius(5px);
          }
        }
      }
    }
    .navbar-collapse {
      @include flex(center, center, column);
      @media screen and (min-width: 768px) {
        width: calc(100% - 277px);
        float: right;
        padding: 0;
      }
      @media screen and (max-width: 767px) {
        overflow: hidden;
        border: none;
        background: white;
        display: block;
        padding: 0;
      }
      &.collapse {
        @media screen and (min-width: 768px) {
          height: 100% !important;
          @include flex(center, center, column);
          display: flex !important;
          display: -webkit-flex !important;
        }
      }
      .top {
        width: 100%;
        @media screen and (min-width: 768px) {
          margin-top: 20px;
        }
        @media screen and (max-width: 767px) {
          padding: 0 10px;
        }
        .row {
          @include flex(center, space-between);
          @media screen and (max-width: 767px) {
            display: block;
          }
          > div {
            &:first-child {
              font-size: $font-size-normal;
              @media screen and (max-width: 767px) {
                font-size: $font-size-small;
                text-align: center;
                padding: 10px 0;
              }
              a, span {
                display: inline-block;
                @media screen and (min-width: 1200px) {
                  margin-right: 5px;
                  margin-left: 5px;
                }
                @media screen and (max-width: 767px) {
                  margin-left: 5px;
                }
                color: $secondary;
                &:hover {
                  color: lighten($secondary, 20%);
                }
              }
            }
            &:last-child {
              text-align: right;
              @media screen and (max-width: 991px) {
                text-align: center;
              }
              > .dropdown {
                display: inline-block;
                vertical-align: top;
                @media screen and (max-width: 991px) {
                  display: block;
                  width: 100%;
                }
                &:first-child {
                  @media screen and (max-width: 991px) {
                    margin-bottom: 10px;
                  }
                }
                &:last-child {
                  @media screen and (min-width: 992px) {
                    margin-left: 10px;
                  }
                }
                > a {
                  color: $secondary;
                  font-size: $font-size-normal;
                  font-family: $font-secondary;
                  font-weight: 400;
                  height: 30px;
                  @include flex(center, space-between);
                  .caret {
                    margin-left: 10px;
                  }
                  &:hover {
                    color: $primary;
                  }
                }
                .btn {
                  @media screen and (max-width: 991px) {
                    width: 100%;
                  }
                }
              }
              > .btn {
                @media screen and (max-width: 767px) {
                  width: calc(50% - 5px);
                }
                &:not(:first-child) {
                  @media screen and (max-width: 991px) {
                    float: left;
                  }
                }
                &:last-child {
                  @media screen and (max-width: 991px) {
                    float: right;
                    margin: 0;
                  }
                }
              }
              > span {
                display: inline-block;
                margin: 0 0 0 10px;
                font-size: $font-size-normal;
              }
              .btn.active,
              .btn.active:hover,
              .btn.active:active,
              .btn.active:focus,
              .btn.active:visited {
                background: $primary;
                border-color: $primary;
                color: white;
                @include box-shadow(none);
                cursor: default;
              }
            }
          }
        }
      }
    }
  }
}