@import "../layout/colors";

#loading-bar {
  .bar {
    background: $primary;
  }
  .peg {
    @include box-shadow($primary 1px 0 6px 1px);
  }
}

#loading-bar-spinner {
  .spinner-icon {
    border-top-color: $primary;
    border-left-color: $primary;
  }
}
