@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($type, $time) {
  -webkit-transition: $type $time;
  -moz-transition: $type $time;
  -o-transition: $type $time;
  transition: $type $time;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin animation($name, $time) {
  -webkit-animation: $name $time;
  -moz-animation: $name $time;
  -o-animation: $name $time;
  animation: $name $time;
}

@mixin animation-fill($mode) {
  -webkit-animation-fill-mode: $mode;
  -moz-animation-fill-mode: $mode;
  -o-animation-fill-mode: $mode;
  animation-fill-mode: $mode;
}

@mixin transform($type) {
  -webkit-transform: $type;
  -moz-transform: $type;
  -ms-transform: $type;
  -o-transform: $type;
  transform: $type;
}

@mixin appearance($type) {
  -webkit-appearance: $type;
  -moz-appearance: $type;
}

@mixin columns($count, $gap) {
  column-count: $count;
  column-gap: $gap;
  -webkit-column-count: $count;
  -webkit-column-gap: $gap;
  -moz-column-count: $count;
  -moz-column-gap: $gap;
}

@mixin box-sizing($sizing) {
  box-sizing: $sizing;
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
}

@mixin flex($align:center, $justify: center, $direction:row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  display: -webkit-flex;
  -webkit-align-items: $align;
  -webkit-justify-content: $justify;
  -webkit-flex-direction: $direction;
  -ms-flex-align: $align;
  -ms-flex-direction: $direction;
}

@mixin inline-flex($align:center, $justify: center, $direction:row) {
  display: inline-flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  display: -webkit-inline-flex;
  -webkit-align-items: $align;
  -webkit-justify-content: $justify;
  -webkit-flex-direction: $direction;
  -ms-flex-align: $align;
  -ms-flex-direction: $direction;
}
