@import "colors", "fonts", "mixins";

.modal {
  .modal-dialog {
    .modal-content {
      border: none;
      height: auto !important;
      @include box-shadow(none);
      @include border-radius(0);
      .modal-header {
        @include flex(center, space-between);
        .modal-title {
          margin: 0;
          text-transform: none;
          color: $secondary;
          font-family: $font-secondary;
          font-size: $font-size-medium-large;
          width: calc(100% - 30px);
        }
        .close {
          opacity: 1;
          .glyphicon-remove {
            font-size: $font-size-normal;
            color: $papyrus;
          }
          &:hover {
            .glyphicon-remove {
              color: $primary;
            }
          }
        }
      }
      .modal-body {
      }
      .modal-footer {
      }
    }
  }
  &.centered {
    @include flex();
    .modal-dialog {
      margin: 0 auto;
    }
  }
  &.delete {
    .modal-dialog {
      .modal-content {
        .modal-body {
          p {
            margin: 10px auto;
            text-align: left;
          }
        }
        .modal-footer {
          border-top: none;
        }
      }
    }
  }
  &.lightbox-modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          text-align: center !important;
        }
        .modal-footer {
          text-align: center !important;
        }
      }
    }
  }
}
