@import "mixins", "colors", "fonts";

.pagination-container {
  text-align: center;
  margin: 40px auto;
}

.pagination {
  text-align: center;
  display: inline-block;
  margin: 0;
  clear: both;
  vertical-align: top;
  width: auto;
  li {
    text-align: center;
    float: none;
    &.disabled {
      > a, > a:hover {
        background: none;
      }
    }
    &:first-child, &:last-child {
      > a {
        @include border-radius(100%);
      }
    }
    a {
      @include inline-flex();
      margin: 0 5px;
      font-family: $font-primary;
      font-size: $font-size-normal;
      font-weight: normal;
      height: 46px;
      width: 46px;
      text-align: center;
      background: none;
      color: $primary;
      vertical-align: middle;
      @include border-radius(100%);
      @include transition(all, 0.3s);
      border: none;
      @media screen and (max-width: 991px) {
        height: 30px;
        width: 30px;
      }
      @media screen and (max-width: 767px) {
        height: 25px;
        width: 25px;
        font-size: $font-size-small-medium;
      }
      .glyphicon {
        top: 0;
      }
      &:hover {
        background: $secondary;
        color: white;
      }
    }
    &:last-child {
      a {
        margin-right: 0;
      }
    }
    &.active,
    &.active:hover {
      a,
      a:active,
      a:focus,
      a:hover {
        background: $primary;
        border-color: $primary;
        color: white;
      }
    }
  }
}

