@import "colors", "fonts", "mixins";

.panel {
  background: lighten($papyrus, 22%);
  .panel-body {
    padding: 20px;
    h3 {
      border: none;
      margin: 30px 0;
      padding: 0;
    }
    p {
      line-height: normal;
      margin: 15px 0;
    }
  }
}