@import "../layout/colors", "../layout/fonts", "../layout/mixins";

.nav-tabs {
  li {
    a {
      @include border-radius(0);
    }
  }
}

.nav-pills {
  li {
    a {
      @include border-radius(0);
      @include transition(all, 0.3s);
      color: $secondary;
      &:hover {
      }
    }
    &.active {
      a, a:hover {
        background: $primary;
        cursor: default;
        color: white;
      }
    }
  }
  &.nav-stacked {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
    > li {
      > a {
        font-family: $font-secondary;
        @include flex(center, space-between);
        border-bottom: 1px solid lighten($secondary, 60%);
        margin: 20px 0;
        padding: 15px 20px;
        font-weight: 400;
        @media screen and (max-width: 767px) {
          margin: 2px 0;
          padding: 10px 20px;
        }
      }
      &:first-child {
        > a {
          margin-top: 0;
        }
      }
      &:last-child {
        > a {
          margin-bottom: 0;
          border: none;
        }
      }
      &:not(.active) {
        > a:hover {
          padding-left: 30px;
        }
      }
      &.active {
        > a {
          border-bottom: 1px solid $primary;
        }
      }
    }
  }
}