@import "../layout/colors", "../layout/fonts", "../layout/mixins";

.table {
  thead {
    tr {
      border-bottom-color: $secondary;
      th {
        border-bottom-width: 1px;
        font-family: $font-secondary;
      }
    }
  }
  &.table-striped {
    > tbody {
      > tr {
        border: none;
        > td {
          border: none;
        }
        &:nth-child(odd) {
          background: none;
        }
        &:nth-child(even) {
          background: lighten($secondary, 82%);
        }
      }
    }
  }
}