<subscription ng-if="$ctrl.subscriptionEnabled"></subscription>
<div class="columns" ng-if="$ctrl.footerEnabled">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4">
                <h1 ng-bind="'footer.titles.posts' | translate"></h1>
                <posts limit="3" template-url="posts.list.component.html"></posts>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4">
                <h1 ng-bind="'footer.titles.members' | translate"></h1>
                <profiles limit="3" order="created_at" sort="desc"
                          template-url="profiles.list.component.html"></profiles>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4">
                <h1 ng-bind="'footer.titles.faq' | translate"></h1>
                <faq limit="7" template-url="faq.list.component.html"></faq>
            </div>
        </div>
    </div>
</div>

<div class="credits">
    <div class="container">
        <span ng-bind="'&copy;' + ('credits.year' | translate) + ' ' +('credits.project' | translate)"></span>
        <span ng-bind="'credits.rights' | translate"></span>
        <div>
            <span ng-bind="'credits.powered' | translate"></span>
            <a target="_blank" ng-href="{{'credits.website' | translate}}" ng-bind="'credits.author' | translate"></a>
        </div>
    </div>
</div>