<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">
                <img src="img/assets/logo-light.svg">
            </a>
            <button type="button" class="btn btn-primary" ng-click="$ctrl.toggleNav()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" uib-collapse="$ctrl.isNavCollapsed">
            <div class="top">
                <div class="row">
                    <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                        <div ng-if="::$ctrl.phone.enabled">
                            <span ng-bind="::$ctrl.phone.value"></span>
                        </div>
                        <div ng-if="::$ctrl.email.enabled">
                            <a ng-href="mailto:{{::$ctrl.email.value}}" ng-bind="::$ctrl.email.value"></a>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                        <div class="dropdown" uib-dropdown>
                            <button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
                                <span ng-bind="('header.language' | translate) + ': ' + ('header.languages.' + $ctrl.currentLang | translate)"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu full-width" uib-dropdown-menu>
                                <li>
                                    <a href ng-click="$ctrl.switchLang('es')"
                                       ng-bind="'header.languages.es' | translate"></a>
                                </li>
                                <li>
                                    <a href ng-click="$ctrl.switchLang('en')"
                                       ng-bind="'header.languages.en' | translate"></a>
                                </li>
                            </ul>
                        </div>
                        <div ng-if="$ctrl.user" class="dropdown" uib-dropdown>
                            <a href uib-dropdown-toggle>
                                <span ng-bind="$ctrl.user.name"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a ui-sref="profile" ui-sref-active="active">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span ng-bind="'header.buttons.profile' | translate"></span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ui-sref-active="active" ui-sref="logout">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                        <span ng-bind="'header.buttons.logout' | translate"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a ui-sref-active="active" ui-sref="register" ng-bind="'header.buttons.register' | translate"
                           ng-if="!$ctrl.user" class="btn btn-outline btn-sm"></a>
                        <a ui-sref-active="active" ui-sref="login" ng-bind="'header.buttons.login' | translate"
                           ng-if="!$ctrl.user" class="btn btn-outline btn-sm"></a>
                    </div>
                </div>
            </div>
            <pages></pages>
        </div>
    </div>
</nav>