@import "header",
"footer",
"fonts",
"colors",
"buttons",
"tables",
"forms",
"tabs",
"modals",
"panels",
"pagination",
"loading",
"alerts",
"mixins";

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: $font-primary;
  font-size: $font-size-medium;
  font-weight: 300;
  color: $secondary;
  -webkit-overflow-scrolling: touch;
  @media screen and (max-width: 991px) {
    font-size: $font-size-normal;
  }
  @media screen and (max-width: 767px) {
    font-size: $font-size-small-medium;
  }
}

body {
  background: white;
}

.body-wrapper {
  min-height: 100%;
  margin: 0 auto;
  background: #2A2421;
  position: relative;
  padding-bottom: 62px;
}

ui-view {
  display: block;
  width: 100%;
  overflow-x: hidden;
  background: white;
}

a {
  color: $primary;
  @include transition(color, 0.3s);
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }
  &:hover {
    color: lighten($primary, 20%);
  }
}

.padding {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.margin {
  margin-top: 60px;
  margin-bottom: 60px;
  @media screen and (max-width: 767px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

blockquote {
  color: $secondary;
  background: lighten($papyrus, 20%);
  font-style: italic;
  font-weight: 300;
  border: none;
  padding: 15px 20px;
  margin: 20px 0;
  @media screen and (max-width: 991px) {
    font-size: $font-size-normal;
  }
  @media screen and (max-width: 767px) {
    font-size: $font-size-small-medium;
  }
}

h1 {
  font-weight: normal;
  font-family: $font-secondary;
  font-size: $font-size-large;
  text-transform: uppercase;
  margin: 10px 0 40px 0;
  color: $secondary;
  @media screen and (max-width: 767px) {
    font-size: $font-size-menu;
    margin: 5px 0 20px 0;
  }
}

h2 {
  font-weight: normal;
  font-family: $font-secondary;
  text-transform: uppercase;
  font-size: $font-size-normal;
  color: $primary;
  margin: 0;
  @media screen and (max-width: 767px) {
    font-size: $font-size-small-medium;
  }
}

h3 {
  margin: 30px 0;
  font-size: $font-size-medium-large;
  font-weight: 400;
  border-bottom: 1px solid lighten($secondary, 60%);
  padding-bottom: 10px;
  @media screen and (max-width: 991px) {
    font-size: $font-size-medium;
  }
}

h4 {
  font-family: $font-secondary;
  font-size: $font-size-medium;
  font-weight: 400;
  color: $papyrus;
  margin: 0 0 30px 0;
}

ol {
  margin: 30px 0;
  li {
    margin: 15px 0;
  }
}

hr {
  border: none;
  border-bottom: 1px solid lighten($secondary, 30%);
  margin: 20px 0 10px;
}

p {
  line-height: 26px;
  margin: 30px 0;
  @media screen and (max-width: 991px) {
    line-height: 22px;
    margin: 15px 0;
  }
  @media screen and (max-width: 767px) {
  }
}

@import "../notifications/notifications",
"../content/content",
"../home/home",
"../pages/pages",
"../registration/registration",
"../events/events",
"../subscription/subscription",
"../posts/posts",
"../errors/errors",
"../comments/comments",
"../docs/docs",
"../pricing/pricing",
"../directory/directory",
"../timeline/timeline",
"../publications/publications",
"../faq/faq",
"../magazines/magazines",
"../newsletters/newsletters",
"../auth/auth",
"../profiles/profiles",
"../education/education",
"../albums/albums",
"../videos/videos",
"../contact/contact";