@import "../layout/colors", "../layout/fonts", "../layout/mixins";

docs {
  display: block;
  width: 100%;
  .filters {
    margin-bottom: 40px;
  }
  .doc.media {
    margin: 15px 0;
    padding: 15px 0 25px 0;
    border-bottom: 1px solid lighten($secondary, 70%);
    .media-object.pull-left {
      padding: 0;
      margin-right: 30px;
      @media screen and (max-width: 767px) {
        margin-right: 15px;
      }
      img {
        width: 80px;
        height: 80px;
        @media screen and (max-width: 767px) {
          width: 60px;
          height: 60px;
        }
      }
    }
    .media-body {
      h1 {
        font-size: $font-size-menu;
        text-transform: none;
        margin: 10px 0 20px 0;
        @media screen and (max-width: 767px) {
          font-size: $font-size-medium;
        }
      }
      h2 {
        margin: 0;
        font-size: $font-size-normal;
        @media screen and (max-width: 767px) {
          font-size: $font-size-small;
        }
      }
      ol, ul {
        padding-left: 15px;
        li {
          font-size: $font-size-normal;
          @media screen and (max-width: 767px) {
            font-size: $font-size-small;
          }
        }
      }
      nav {
        display: block;
        span {
          &:not(.glyphicon) {
            font-family: $font-secondary;
            margin: 0 4px;
          }
          color: $papyrus;
          font-size: $font-size-small;
        }
      }
    }
  }
  > .doc.media:last-child {
    border-bottom: none;
  }
}