<h2 ng-bind="'events.docs.subtitle' | translate"></h2>
<h1 ng-bind="'events.docs.title' | translate"></h1>

<div class="doc media"
     ng-repeat="doc in $ctrl.docs | filter: $ctrl.params.search | limitTo:$ctrl.params.limit:($ctrl.params.page-1)*$ctrl.params.limit">
    <figure class="media-object pull-left">
        <img class="img-circle" ng-src="{{(doc.image.thumb) ? doc.image.thumb : 'img/docs/thumbs/default.svg'}}">
    </figure>
    <div class="media-body">
        <h2 ng-bind="doc.author"></h2>
        <h1 ng-bind="doc.title"></h1>
        <ol ng-if="doc.features.length">
            <li ng-repeat="feature in doc.features" ng-bind="feature.title"></li>
        </ol>
        <a ng-href="{{doc.path}}" target="_blank" class="btn btn-primary btn-sm"
           ng-bind="'docs.buttons.download' | translate"></a>
    </div>
</div>