<div class="filters">
    <form ng-submit="$ctrl.search()" class="input-group input-group-lg">
        <input class="form-control" type="text" ng-model="$ctrl.searchText"
               placeholder="{{'form.placeholder.search.doc' | translate}}">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-bind="'form.buttons.search' | translate"></button>
            <button type="button" class="btn btn-outline"
                    ng-show="$ctrl.params.search.length"
                    ng-click="$ctrl.clear()"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </form>
</div>

<div class="alert"
     ng-show="!($ctrl.docs | filter: $ctrl.params.search).length">
    <span class="glyphicon glyphicon-info-sign"></span>
    <span ng-bind="'docs.alerts.noDocs' | translate"></span>
</div>

<div class="doc media"
     ng-repeat="doc in $ctrl.docs | filter: $ctrl.params.search | limitTo:$ctrl.params.limit:($ctrl.params.page-1)*$ctrl.params.limit">
    <figure class="media-object pull-left">
        <img class="img-circle" ng-src="{{(doc.image.thumb) ? doc.image.thumb : 'img/docs/thumbs/default.svg'}}">
    </figure>
    <div class="media-body">
        <h2 ng-bind="doc.author"></h2>
        <h1 ng-bind="doc.title"></h1>
        <ol ng-if="doc.features.length">
            <li ng-repeat="feature in doc.features" ng-bind="feature.title"></li>
        </ol>
        <a ng-href="{{doc.path}}" target="_blank" class="btn btn-primary btn-sm"
           ng-bind="'docs.buttons.download' | translate"></a>
    </div>
</div>

<uib-pagination
        ng-show="($ctrl.docs | filter: $ctrl.params.search).length > $ctrl.params.limit"
        total-items="($ctrl.docs | filter: $ctrl.params.search).length"
        items-per-page="$ctrl.params.limit"
        template-url="pagination.template.html"
        max-size="5"
        rotate="false" data-ng-model="$ctrl.params.page"
        previous-text="{{'form.buttons.prev' | translate}}"
        next-text="{{'form.buttons.next' | translate}}"></uib-pagination>