<div class="alert"
     ng-show="!($ctrl.docs | filter: $ctrl.params.search).length">
    <span class="glyphicon glyphicon-info-sign"></span>
    <span ng-bind="'docs.alerts.noDocs' | translate"></span>
</div>

<div class="doc media"
     ng-repeat="doc in $ctrl.docs | filter: $ctrl.params.search | limitTo:$ctrl.params.limit:($ctrl.params.page-1)*$ctrl.params.limit">
    <figure class="media-object pull-left">
        <img ng-src="{{(doc.image.thumb) ? doc.image.thumb : 'img/docs/thumbs/default.svg'}}">
    </figure>
    <div class="media-body">
        <h2 ng-bind="doc.date | date: 'd MMMM yyyy'"></h2>
        <h1 ng-bind="doc.title"></h1>
        <nav>
            <span class="glyphicon glyphicon-download-alt"></span>
            <span ng-bind="doc.downloads"></span>
            <span class="glyphicon glyphicon-file"></span>
            <span ng-bind="doc.size"></span>
        </nav>
        <p ng-bind="doc.description"></p>
        <a ng-href="{{doc.path}}" target="_blank" class="btn btn-primary btn-sm"
           ng-bind="'docs.buttons.download' | translate"></a>
    </div>
</div>

<uib-pagination
        ng-show="($ctrl.docs | filter: $ctrl.params.search).length > $ctrl.params.limit"
        total-items="($ctrl.docs | filter: $ctrl.params.search).length"
        items-per-page="$ctrl.params.limit"
        template-url="pagination.template.html"
        max-size="5"
        rotate="false" data-ng-model="$ctrl.params.page"
        previous-text="{{'form.buttons.prev' | translate}}"
        next-text="{{'form.buttons.next' | translate}}"></uib-pagination>