<div class="filters">
    <form ng-submit="$ctrl.search()" class="input-group input-group-lg">
        <input class="form-control" type="text" ng-model="$ctrl.searchText"
               placeholder="{{'form.placeholder.search.newsletter' | translate}}">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-bind="'form.buttons.search' | translate"></button>
            <button type="button" class="btn btn-outline"
                    ng-show="params.search.length"
                    ng-click="$ctrl.clear()"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </form>
</div>

<div class="alert"
     ng-show="!$ctrl.newsletters.length">
    <span class="glyphicon glyphicon-info-sign"></span>
    <span ng-bind="'newsletters.alerts.noNewsletters' | translate"></span>
</div>

<div class="media newsletter"
     ng-repeat="newsletter in $ctrl.newsletters">
    <figure class="media-object pull-left">
        <img class="img-circle"
             ng-src="{{(newsletter.image.thumb) ? newsletter.image.thumb : 'img/newsletters/thumbs/default.svg'}}">
    </figure>
    <div class="media-body">
        <h2 ng-bind="newsletter.date | date:'yyyy'"></h2>
        <h1 ng-bind="newsletter.title"></h1>
        <a class="btn btn-primary btn-sm" ng-href="{{newsletter.doc.path}}" target="_blank"
           ng-bind="'newsletters.buttons.download' | translate"></a>
    </div>
</div>

<uib-pagination
        ng-show="$ctrl.total > params.limit"
        total-items="$ctrl.total"
        items-per-page="params.limit"
        template-url="pagination.template.html"
        max-size="5"
        rotate="false" data-ng-model="params.page"
        previous-text="{{'form.buttons.prev' | translate}}"
        next-text="{{'form.buttons.next' | translate}}"></uib-pagination>