@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather/merriweather-regular-webfont.woff2') format('woff2'),
    url('../fonts/merriweather/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather/merriweather-italic-webfont.woff2') format('woff2'),
    url('../fonts/merriweather/merriweather-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather/merriweather-light-webfont.woff2') format('woff2'),
    url('../fonts/merriweather/merriweather-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather/merriweather-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/merriweather/merriweather-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
    url('../fonts/opensans/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}