<div class="pagination-container">
    <ul class="pagination">
        <li data-ng-if="::directionLinks" data-ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-prev">
            <a href data-ng-click="selectPage(page - 1, $event)">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </li>
        <li data-ng-repeat="page in pages track by $index"
            data-ng-class="{active: page.active,disabled: ngDisabled&&!page.active}"
            class="pagination-page">
            <a href data-ng-click="selectPage(page.number, $event)">
                <span data-ng-bind="page.text"></span>
            </a>
        </li>
        <li data-ng-if="::directionLinks" data-ng-class="{disabled: noNext()||ngDisabled}" class="pagination-next">
            <a href data-ng-click="selectPage(page + 1, $event)">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </li>
    </ul>
</div>