@import "../layout/colors", "../layout/fonts", "../layout/mixins";

notifications {
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  z-index: 30;
  @include flex(flex-end, flex-start, column);
  .notification {
    @include flex(center, space-between);
    text-align: left;
    max-width: 400px;
    width: auto;
    margin: 15px 0;
    clear: both;
    padding: 20px 40px 20px 20px;
    font-size: $font-size-medium;
    font-weight: normal;
    font-family: $font-secondary;
    background: lighten($papyrus, 20%);
    position: relative;
    @include border-radius(0);
    @include border-radius(2px);
    > .glyphicon {
      margin-right: 10px;
      font-size: $font-size-big;
      color: darken($papyrus, 20%);
    }
    &.ng-hide-remove {
      @include animation(fadeInRight, 0.3s);
    }
    &.ng-hide-add {
      @include animation(fadeOutDown, 0.3s);
    }
    .message {
      .moment {
        display: block;
        font-size: $font-size-smallest;
        padding: 0;
        margin: 0 0 2px 0;
        color: $papyrus;
        text-align: left;
        > span {
          display: inline-block;
          &:first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
    .close {
      font-weight: bold;
      text-decoration: none;
      font-size: $font-size-small;
      margin-left: 20px;
      color: darken($papyrus, 20%);
      text-shadow: none;
      opacity: 1;
      position: absolute;
      top: 5px;
      right: 5px;
      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }
  }
}