<div ng-repeat="notification in $ctrl.notifications" class="notification"
     ng-show="notification.show">
    <span class="glyphicon"
          ng-class="{
          'glyphicon-info-sign' : notification.type === 'info',
          'glyphicon-ok-circle' : notification.type === 'success',
          'glyphicon-exclamation-sign' : notification.type === 'warning',
          'glyphicon-ban-circle' : notification.type === 'danger'
          }">

    </span>
    <div class="message">
        <div class="moment">
            <span class="glyphicon glyphicon-time"></span>
            <span ng-bind="notification.moment"></span>
        </div>
        <span ng-bind="notification.message"></span>
    </div>
    <a class="close" href ng-click="$ctrl.close(notification)">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
</div>