@import "../layout/colors", "../layout/fonts", "../layout/mixins";

home {
  display: block;
  width: 100%;
  position: relative;
  div.margin {
    .container {
      > .row {
        > div {
          &:first-child {
            @media screen and (max-width: 767px) {
              margin-bottom: 40px;
            }
          }
        }
      }
    }
  }
  .eventless-banner {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    img {
      min-width: 100%;
    }
  }
}