<div class="home">
    <events class="banners" limit="1" template-url="events.banners.component.html" ng-if="::$ctrl.eventsEnabled"></events>
    <div class="eventless-banner" ng-if="::!$ctrl.eventsEnabled">
        <img src="img/home/banner-01.jpg">
    </div>
</div>