@import "../layout/colors", "../layout/fonts", "../layout/mixins";

comments {
  display: block;
  width: 100%;
  .comment {
    margin: 15px 0;
    padding: 15px 0;
    border-bottom: 1px solid lighten($secondary, 70%);
    h1 {
      text-transform: none;
      font-size: $font-size-menu;
      margin: 5px 0 0 0;
      @media screen and (max-width: 767px) {
        font-size: $font-size-normal-medium;
      }
    }
    h2 {
      color: $papyrus;
      font-size: $font-size-smaller;
      @media screen and (max-width: 767px) {
        font-size: $font-size-smallest;
      }
    }
    blockquote {
      font-weight: 300;
      font-size: $font-size-normal;
      margin: 15px 0 10px 0;
      &:before, &:after {
        content: '"';
      }
      @media screen and (max-width: 767px) {
        font-size: $font-size-small-medium;
      }
    }
  }
}