<form class="margin" name="commentForm" ng-submit="$ctrl.send()">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="form-group-lg required">
                <label ng-bind="'form.label.name' | translate"></label>
                <input type="text" class="form-control" required name="name"
                       placeholder="{{'form.placeholder.name' | translate}}" ng-model="$ctrl.addComment.author">
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="form-group-lg required">
                <label ng-bind="'form.label.email' | translate"></label>
                <input type="email" class="form-control" required name="email"
                       placeholder="{{'form.placeholder.email' | translate}}" ng-model="$ctrl.addComment.email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="form-group-lg required">
                <label ng-bind="'form.label.comment' | translate"></label>
                <textarea class="form-control" required name="comment" ng-model="$ctrl.addComment.content"
                          placeholder="{{'form.placeholder.comment' | translate}}"></textarea>
            </div>
        </div>
    </div>
    <div class="row last">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6">
            <button type="reset" class="btn btn-outline btn-lg btn-block"
                    ng-bind="'form.buttons.clear' | translate"></button>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block"
                    ng-disabled="commentForm.$invalid || $ctrl.loading"
                    ng-bind="'form.buttons.send' | translate"></button>
        </div>
    </div>
</form>

<div class="alert"
     ng-show="!($ctrl.comments | filter: params.search).length">
    <span class="glyphicon glyphicon-info-sign"></span>
    <span ng-bind="'comments.alerts.noComments' | translate"></span>
</div>

<div class="comment"
     ng-repeat="comment in $ctrl.comments | filter: params.search | orderBy: '-created_at' | limitTo: params.limit:(params.page-1)*params.limit">
    <h2 ng-bind="comment.created_at | moment"></h2>
    <h1 ng-bind="comment.author"></h1>
    <blockquote ng-bind="comment.content"></blockquote>
</div>

<uib-pagination
        ng-show="($ctrl.comments | filter: params.search).length > params.limit"
        total-items="($ctrl.comments | filter: params.search).length"
        items-per-page="params.limit"
        template-url="pagination.template.html"
        max-size="5"
        rotate="false" data-ng-model="params.page"
        previous-text="{{'form.buttons.prev' | translate}}"
        next-text="{{'form.buttons.next' | translate}}"></uib-pagination>