@import "../layout/colors", "../layout/fonts", "../layout/mixins";

albums {
  display: block;
  width: 100%;
  .album {
    figure {
      a {
        img {
          display: block;
          width: 100%;
          height: auto;
        }
        &:hover {
          img {
            @include animation(pulse, 0.3s);
          }
        }
      }
    }
  }
}

album {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 325px;
  z-index: 20;
  background: lighten($gray, 60%);
  margin-bottom: 120px;
  .close {
    opacity: 1;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 20;
    text-shadow: none;
    color: white;
    &:hover {
      opacity: 1;
      color: white;
    }
  }

  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel-indicators {
    left: 0;
    top: calc(100% + 10px);
    width: 100%;
    height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    bottom: auto;
    right: auto;
    z-index: 3;
    background: white;
    white-space: nowrap;
    > div, > div.active {
      padding: 0;
      float: none;
      display: inline-block;
      width: 100px;
      height: 100px;
      margin: 0 5px;
      text-indent: 0;
      border: none;
      position: relative;
      background: lighten($gray, 60%);
      overflow: hidden;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        cursor: pointer;
      }
      img {
        display: block;
        vertical-align: top;
        width: 100px;
        height: 100px;
      }
      @include border-radius(0);
    }
    > div.active {
      border: none;
      background: none;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: calc(50% - 8px);
        display: inline-block;
        border-top: 8px solid white;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid transparent;
      }
    }
  }
  .carousel-control {
    &:hover {
      cursor: pointer;
    }
    &.left,
    &.right {
      background: none;
      opacity: 1;
      text-shadow: none;
      color: white;
    }
  }
  .carousel-inner {
    > .item {
      .carousel-caption.container {

      }
    }
  }

}