<div class="alert"
     ng-show="!$ctrl.albums.length">
    <span class="glyphicon glyphicon-info-sign"></span>
    <span ng-bind="'albums.alerts.noAlbums' | translate"></span>
</div>

<div class="album" ng-repeat="album in $ctrl.albums">
    <figure>
        <a href ng-click="$ctrl.lightBox(album.photos, $index)">
            <img ng-src="{{album.image.thumb}}">
        </a>
    </figure>
    <h2 ng-bind="album.date | date: 'd MMMM yyyy'"></h2>
    <h1 ng-bind="album.title"></h1>
</div>