<div class="modal-header">
    <h1 class="modal-title" ng-bind="Lightbox.imageCaption"></h1>
    <a href class="close" aria-hidden="true" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
</div>
<div class="modal-body" ng-swipe-left="Lightbox.nextImage()" ng-swipe-right="Lightbox.prevImage()">
    <img lightbox-src="{{Lightbox.imageUrl}}">
</div>
<div class="modal-footer clearfix text-center">
    <ul class="pagination">
        <li>
            <a href ng-click="Lightbox.prevImage()" uib-tooltip="{{'videos.buttons.prev' | translate}}">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </li>
        <li>
            <a ng-href="{{Lightbox.imageUrl}}" target="_blank"
               uib-tooltip="{{'videos.buttons.newWindow' | translate}}">
                <span class="glyphicon glyphicon-new-window"></span>
            </a>
        </li>
        <li>
            <a href ng-click="Lightbox.nextImage()" uib-tooltip="{{'videos.buttons.next' | translate}}">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </li>
    </ul>
</div>