<script id="album.html" type="text/ng-template">
    <div ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
        <div class="carousel-inner" ng-transclude></div>
        <a role="button" href class="left carousel-control" ng-click="prev()" ng-class="{ disabled: isPrevDisabled() }"
           ng-show="slides.length > 1">
            <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">previous</span>
        </a>
        <a role="button" href class="right carousel-control" ng-click="next()" ng-class="{ disabled: isNextDisabled() }"
           ng-show="slides.length > 1">
            <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">next</span>
        </a>
        <div class="carousel-indicators" ng-show="slides.length > 1">
            <div ng-repeat="slide in slides | orderBy:indexOfSlide track by $index"
                 ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
                <img ng-src="{{slide.slide.actual.thumb}}">
                <span class="sr-only">slide {{ $index + 1 }} of {{ slides.length }}<span ng-if="isActive(slide)">, currently active</span></span>
            </div>
        </div>
    </div>
</script>
<uib-carousel active="activePhoto" interval="0" template-url="album.html" ng-if="photos.length">
    <uib-slide ng-repeat="photo in photos track by photo.pivot.order" index="photo.pivot.order" actual="photo">
        <a href ng-click="lightBox(photos, $index)"><img ng-src="{{photo.path}}" style="margin:auto;"></a>
    </uib-slide>
</uib-carousel>
<div class="alert"
     ng-show="!photos.length">
    <span class="glyphicon glyphicon-info-sign"></span>
    <span ng-bind="'events.alerts.noPhotos' | translate"></span>
</div>