@import "../layout/colors", "../layout/fonts", "../layout/mixins";

publications {
  display: block;
  width: 100%;
  .filters {
    nav {
      @include flex(center, space-between);
      border-bottom: 1px solid lighten($secondary, 70%);
      padding-bottom: 10px;
      margin-bottom: 30px;
      @media screen and (max-width: 991px) {
        display: block;
      }
      a {
        font-weight: 300;
        color: $secondary;
        @include inline-flex();
        @include border-radius(100%);
        width: 24px;
        height: 24px;
        text-align: center;
        @media screen and (max-width: 991px) {
          font-size: $font-size-small;
        }
        &:hover {
          color: $primary;
        }
        &.active {
          background: $primary;
          color: white;
          font-weight: 400;
        }
      }
    }
    .dropdown {
      @media screen and (max-width: 991px) {
        margin-bottom: 20px;
      }
    }
    margin-bottom: 40px;
  }
  .publication.media {
    margin: 15px 0;
    padding: 15px 0;
    border-bottom: 1px solid lighten($secondary, 70%);
    .media-object.pull-left {
      padding: 0;
      margin-right: 30px;
      @media screen and (max-width: 991px) {
        margin-right: 20px;
      }
      img {
        width: 100px;
        height: 100px;
        @media screen and (max-width: 991px) {
          width: 80px;
          height: 80px;
        }
        @media screen and (max-width: 767px) {
          width: 60px;
          height: 60px;
        }
      }
    }
    .media-body {
      h1 {
        text-transform: none;
        margin: 10px 0 20px 0;
        font-size: $font-size-menu;
        line-height: $font-size-larger;
        @media screen and (max-width: 991px) {
          margin: 5px 0 10px 0;
          font-size: $font-size-normal;
          line-height: normal;
        }
      }
      h2 {
        margin: 0;
        @media screen and (max-width: 991px) {
          font-size: $font-size-small-medium;
        }
      }
      h4 {
        font-size: $font-size-normal;
        font-weight: 400;
        color: lighten($secondary, 50%);
        margin: 10px 0 0 0;
        @media screen and (max-width: 991px) {
          font-size: $font-size-small-medium;
          margin: 5px 0 0 0;
        }
      }
      p {
        font-size: $font-size-normal;
        margin: 10px 0 20px 0;
        line-height: normal;
        @media screen and (max-width: 991px) {
          font-size: $font-size-small;
          margin: 10px 0;
        }
      }
    }
  }
}