<div class="filters">
    <nav>
        <a href ng-repeat="letter in $ctrl.letters" ng-class="{'active': params.letter === letter}"
           ng-click="params.letter = letter" ng-bind="letter"></a>
    </nav>
    <form ng-submit="$ctrl.search()">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4">
                <div class="dropdown" uib-dropdown>
                    <button type="button" class="btn btn-lg btn-block btn-outline" uib-dropdown-toggle>
                        <span ng-bind="(params.key) ? ($ctrl.filters | filter:{key:params.key})[0].title : ('publications.filters.all' | translate)"></span>
                        <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu class="dropdown-menu">
                        <li>
                            <a href ng-click="params.key = null" ng-bind="'publications.filters.all' | translate"></a>
                        </li>
                        <li ng-repeat="filter in $ctrl.filters">
                            <a href ng-click="params.key = filter.key" ng-bind="filter.title"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8">
                <div class="input-group input-group-lg">
                    <input class="form-control" type="text" ng-model="$ctrl.searchText"
                           placeholder="{{'form.placeholder.search.publication' | translate}}">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary"
                                ng-bind="'form.buttons.search' | translate"></button>
                        <button type="button" class="btn btn-outline"
                                ng-show="params.letter.length || params.search.length"
                                ng-click="$ctrl.clear()"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="alert"
     ng-show="!$ctrl.publications.length">
    <span class="glyphicon glyphicon-info-sign"></span>
    <span ng-bind="'publications.alerts.noPublications' | translate"></span>
</div>

<div class="media publication"
     ng-repeat="publication in $ctrl.publications">
    <figure class="media-object pull-left">
        <img class="img-circle"
             ng-src="{{(publication.image.thumb) ? publication.image.thumb : 'img/publications/thumbs/default.svg'}}">
    </figure>
    <div class="media-body">

        <h2 ng-bind="publication.author"></h2>
        <h1 ng-bind="publication.title"></h1>

        <div class="row">

            <div class="col-md-6 col-lg-6 col-sm-6">
                <div ng-if="publication.editorial.length">
                    <h4 ng-bind="'publications.filters.editorial' | translate"></h4>
                    <p ng-bind="publication.editorial"></p>
                </div>
                <div ng-if="publication.year.length">
                    <h4 ng-bind="'publications.filters.year' | translate"></h4>
                    <p ng-bind="publication.year"></p>
                </div>
                <div ng-if="publication.country_city.length">
                    <h4 ng-bind="'publications.filters.countryCity' | translate"></h4>
                    <p ng-bind="publication.country_city"></p>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6">
                <div ng-if="publication.discipline.length">
                    <h4 ng-bind="'publications.filters.discipline' | translate"></h4>
                    <p ng-bind="publication.discipline"></p>
                </div>
                <div ng-if="publication.case.length">
                    <h4 ng-bind="'publications.filters.case' | translate"></h4>
                    <p ng-bind="publication.case"></p>
                </div>
            </div>

        </div>

    </div>
</div>

<uib-pagination
        ng-show="$ctrl.total > params.limit"
        total-items="$ctrl.total"
        items-per-page="params.limit"
        template-url="pagination.template.html"
        max-size="5"
        rotate="false" data-ng-model="params.page"
        previous-text="{{'form.buttons.prev' | translate}}"
        next-text="{{'form.buttons.next' | translate}}"></uib-pagination>