@import "../layout/colors", "../layout/fonts", "../layout/mixins";

content {
  display: block;
  &.about {
    .container {
      .row {
        @include flex(center, space-between);
        @media screen and (max-width: 767px) {
          display: block;
        }
        > div {
          &:first-child {
            figure {
              background: url("../img/assets/isologo.svg") no-repeat left center;
              height: 150px;
              width: 200px;
              padding: 30px 0 0 80px;
              font-size: $font-size-largest;
              font-weight: bold;
              color: $secondary;
              @media screen and (max-width: 767px) {
                margin: 30px auto 0;
              }
            }
          }
          &:last-child {
            padding-top: 20px;
            p {
              line-height: 30px;
              @media screen and (max-width: 991px) {
                line-height: 26px;
              }
              @media screen and (max-width: 767px) {
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }
}