<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <figure ng-bind="$ctrl.content.title"></figure>
        </div>
        <div class="col-md-9 col-lg-9" ng-bind-html="$ctrl.content.content">
        </div>
    </div>
</div>