@import "../layout/colors", "../layout/fonts", "../layout/mixins";

education {
  display: block;
  width: 100%;
  .achievement {
    margin: 15px 0;
    .header {
      @include flex(center, flex-start, flex-start);
      margin: 0;
      .date {
        margin-right: 15px;
        font-family: $font-secondary;
        color: $papyrus;
        .month, .year {
          text-align: center;
          display: block;
        }
        .month {
          font-weight: 400;
          font-size: $font-size-small;
          text-transform: uppercase;
          line-height: 10px;
          margin-bottom: 6px;
        }
        .year {
          font-size: $font-size-largest;
          line-height: 26px;
        }
      }
      h1 {
        margin-bottom: 0;
        font-size: $font-size-medium;
        @media screen and (max-width: 991px) {
          font-size: $font-size-normal-medium;
        }
      }
      h2 {
        font-size: $font-size-small;
      }
    }
    p {
      line-height: normal;
      margin: 15px 0;
      font-size: $font-size-normal;
      height: 80px;
      overflow: hidden;
      @media screen and (max-width: 991px) {
        font-size: $font-size-small-medium;
        margin: 15px 0 20px 0;
      }
    }
  }
}