<div class="alert"
     ng-show="!$ctrl.education.length">
    <span class="glyphicon glyphicon-info-sign"></span>
    <span ng-bind="'education.alerts.noEducation' | translate"></span>
</div>

<div class="row">
    <div class="col-md-6 col-lg-6 col-md-12" ng-repeat="achievment in $ctrl.education">
        <div class="achievement">
            <div class="header">
                <div class="date">
                    <span class="month" ng-bind="achievment.date | date:'MMM'"></span>
                    <span class="year" ng-bind="achievment.date | date:'yy'"></span>
                </div>
                <div>
                    <h2 ng-bind="achievment.title"></h2>
                    <h1 ng-bind="achievment.institution"></h1>
                </div>
            </div>
            <p ng-bind="achievment.description"></p>
        </div>
    </div>
</div>