@import "../layout/colors", "../layout/fonts", "../layout/mixins";

login {
  display: block;
  width: 100%;
  form {
    .container {
      > .row {
        > div {
          > .row {
            &:last-child {
              @include flex(center, space-between);
              @media screen and (max-width: 767px) {
                display: block;
              }
            }
          }
          .btn {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

reset {
  form {
    .container {
      > .row {
        > div {
          .btn {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

logout {
  .panel {
    text-align: center;
    img {
      width: 150px;
      height: 150px;
    }
  }
}