<form class="margin" name="loginForm" ng-submit="$ctrl.login()">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-8 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
                <h2 ng-bind="'login.subtitle' | translate"></h2>
                <h1 ng-bind="'login.title' | translate"></h1>

                <h3 ng-bind="'login.method.social' | translate"></h3>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <button type="button" class="btn btn-outline btn-block btn-lg"
                                ng-click="$ctrl.social('facebook')">
                            <img src="img/icons/facebook.svg">
                            <span ng-bind="'login.buttons.facebook' | translate"></span>
                        </button>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <button type="button" class="btn btn-outline btn-block btn-lg"
                                ng-click="$ctrl.social('google-oauth2')">
                            <img src="img/icons/google.svg">
                            <span ng-bind="'login.buttons.google' | translate"></span>
                        </button>
                    </div>
                </div>
                <h3 ng-bind="'login.method.email' | translate"></h3>
                <div class="form-group-lg required">
                    <label ng-bind="'form.label.email' | translate"></label>
                    <input type="email" class="form-control" required name="email"
                           placeholder="{{'form.placeholder.email' | translate}}"
                           ng-model="$ctrl.credentials.email">
                </div>
                <div class="form-group-lg required">
                    <label ng-bind="'form.label.password' | translate"></label>
                    <input type="password" class="form-control" required name="password"
                           placeholder="{{'form.placeholder.password' | translate}}"
                           ng-model="$ctrl.credentials.password">
                </div>
                <div class="row last">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <a ui-sref="reset" class="btn btn-default btn-lg btn-block"
                           ng-bind="'login.buttons.forgot' | translate"></a>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <button type="submit" class="btn btn-primary btn-lg btn-block"
                                ng-disabled="loginForm.$invalid || $ctrl.loading"
                                ng-bind="'login.buttons.login' | translate"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>