<form class="margin" name="remindForm" ng-submit="$ctrl.remind()">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-8 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
                <h2 ng-bind="'reset.subtitle' | translate"></h2>
                <h1 ng-bind="'reset.title' | translate"></h1>

                <div class="form-group-lg required">
                    <label ng-bind="'form.label.email' | translate"></label>
                    <input type="email" class="form-control" required name="email"
                           placeholder="{{'form.placeholder.email' | translate}}"
                           ng-model="$ctrl.credentials.email">
                </div>
                <div class="row last">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <a ui-sref="login" class="btn btn-default btn-lg btn-block"
                           ng-bind="'reset.buttons.back' | translate"></a>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <button type="submit" class="btn btn-primary btn-lg btn-block"
                                ng-disabled="remindForm.$invalid || $ctrl.loading"
                                ng-bind="'reset.buttons.reset' | translate"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>