<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-sm-offset-3 col-md-offset-4 col-lg-offset-4 text-center">
                <img src="img/icons/ball.svg">
                <h1 ng-bind="'logout.loading' | translate"></h1>
                <h2 ng-bind="'logout.subtitle' | translate"></h2>
                <p ng-bind="'logout.description' | translate"></p>
            </div>
        </div>
    </div>
</div>