@import "../layout/colors", "../layout/fonts", "../layout/mixins";

pages {
  width: 100%;
  height: 60px;
  @include flex(flex-end);
  @media screen and (min-width: 768px) {
    margin-top: 15px;
  }
  @media screen and (max-width: 767px) {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  ul.navbar-nav {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    @include flex(center, space-between);
    @media screen and (max-width: 767px) {
      display: block;
    }
    > li {
      position: relative;
      height: 100%;
      @media screen and (max-width: 767px) {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
      }
      > a {
        padding: 0;
        margin: 0;
        color: $secondary !important;
        font-weight: normal;
        font-size: $font-size-menu;
        height: 100%;
        @include flex();
        @media screen and (max-width: 991px) {
          font-size: $font-size-normal;
        }
        @media screen and (max-width: 767px) {
          display: block;
          width: 100%;
          padding: 10px 15px;
        }
        &:hover {
          cursor: pointer;
          color: $primary !important;
        }
      }
      &.active {
        > a {
          background: none !important;
          color: $primary !important;
          font-weight: bold;
        }
      }
      > ul {
        @include box-shadow(1px 1px 2px 0 rgba(0, 0, 0, 0.2));
        list-style: none;
        padding: 15px 0;
        margin: 0;
        position: absolute;
        min-width: 100%;
        background: lighten(gray, 45%);
        z-index: 3;
        @media screen and (max-width: 767px) {
          position: static;
          @include box-shadow(none);
        }
        > li {
          > a {
            @include transition(all, 0.3s);
            display: block;
            white-space: nowrap;
            font-weight: normal;
            font-family: $font-secondary;
            font-size: $font-size-normal;
            padding: 10px 20px;
            text-align: left;
            color: $secondary;
            &:hover {
              background: lighten($papyrus, 10%);
            }
          }
          &.active {
            a {
              background: $primary;
              cursor: default;
              color: white !important;
            }
          }
        }
      }
    }
  }
}

page {
  .container {
    > .row {
      > div {
        &:last-child {
          @media screen and (min-width: 768px) {
            padding-left: 60px;
          }
        }
      }
    }
  }
  .nav-pills {

  }
  h2 {
    margin-top: 40px;
  }
  .banner {
    height: 200px;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @media screen and (max-width: 767px) {
      height: auto;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $secondary;
      opacity: 0.7;
      mix-blend-mode: multiply;
    }
    .container {
      height: 100%;
      @include flex(flex-start, flex-end, column);
      padding-top: 40px;
      padding-bottom: 40px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 767px) {
        display: block;
      }
      h1, h2 {
        color: white;
        text-transform: none;
      }
      h1 {
        font-weight: 400;
        font-size: $font-size-bigger;
        margin: 0;
        @media screen and (max-width: 767px) {
          font-size: $font-size-largest;
        }
      }
      h2 {
        font-weight: 300;
        font-size: $font-size-large;
        margin: 0 0 10px 0;
        @media screen and (max-width: 767px) {
          font-size: $font-size-medium;
        }
      }
    }
  }
  registration {
    form {
      > .row.center {
        @media screen and (max-width: 991px) {
          margin-top: 0;
          margin-bottom: 0;
        }
        &:last-child {
          @media screen and (min-width: 768px) {
            @include flex();
          }
          > div {
            &:last-child {
              @media screen and (max-width: 767px) {
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}