<div class="banner" ng-if="page.image.path"
     ng-style="{'background-image' : 'url(' + page.image.path + ')'}">
    <div class="container">
        <h2 ng-bind="currentPage.title"></h2>
        <h1 ng-bind="page.title"></h1>
    </div>
</div>
<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-4">
                <ul class="nav nav-pills nav-stacked" ng-if="siblings.length && currentPage">
                    <li ng-repeat="tab in siblings"
                        ng-class="{'active' : tab.slug === $ctrl.currentTab}">
                        <a href ui-sref="page({page:currentPage.slug, tab: tab.slug})">
                            <span ng-bind="tab.title"></span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 col-lg-9 col-sm-8">
                <div class="content" ng-bind-html="page.content"></div>
                <a ng-href="{{$ctrl.currentLang === 'es' ? 'downloads/Estatutos-AEB.pdf' : 'downloads/Statutes-AEB.pdf'}}"
                   class="btn btn-primary btn-lg" target="_blank" ng-if="$ctrl.currentTab === 'estatutos'"
                   ng-bind="'pages.buttons.downloadStatuses' | translate"></a>
                <directory ng-if="$ctrl.currentTab === 'mesa-directiva'"></directory>
                <div ng-if="$ctrl.currentTab === 'membresia'">
                    <h2 ng-bind="'pricing.subtitle' | translate"></h2>
                    <h1 ng-bind="'pricing.title' | translate"></h1>
                    <pricing pricing="page.pricing"></pricing>
                    <registration template-url="registration.vertical.component.html"></registration>
                </div>
                <profiles ng-if="$ctrl.currentTab === 'miembros'"></profiles>
                <publications ng-if="$ctrl.currentTab === 'novedades-bibliograficas'"></publications>
                <magazines ng-if="$ctrl.currentTab === 'revista'"></magazines>
                <posts ng-if="$ctrl.currentTab === 'noticias'"></posts>
                <faq ng-if="$ctrl.currentTab === 'preguntas-frecuentes'"></faq>
                <contact ng-if="$ctrl.currentTab === 'escribenos'"></contact>
            </div>
        </div>
    </div>
</div>