<ul class="nav navbar-nav navbar-right">
    <li ng-repeat="page in $ctrl.pages | filter: {lang: $ctrl.currentLang}" ui-sref-active="active"
        ng-mouseover="page.collapse = false" ng-mouseleave="page.collapse = true">
        <a ng-if="!page.children.length" ui-sref="{{page.slug}}" ng-bind="page.title"></a>
        <a ng-if="page.children.length" ng-bind="page.title"></a>
        <ul ng-if="page.children.length" uib-collapse="page.collapse">
            <li ng-repeat="tab in page.children"
                ng-class="{'active' : $ctrl.currentTab === tab.slug}">
                <a ui-sref="page({page: page.slug, tab: tab.slug})" ng-bind="tab.title"></a>
            </li>
        </ul>
    </li>
</ul>