@import "../layout/colors", "../layout/fonts", "../layout/mixins";

events {
  display: block;
  width: 100%;
  &:not(.banners) {
    .event {
      margin: 20px 0 40px 0;
      figure {
        margin-bottom: 40px;
        a:hover {
          img {
            @include animation(pulse, 0.3s);
          }
        }
        img {
          width: 100%;
          height: auto;
          display: block;

        }
      }
      h1 {
        text-transform: none;
        font-weight: 400;
        margin-bottom: 20px;
        @media screen and (max-width: 991px) {
          margin-bottom: 10px;
          font-size: $font-size-medium-large;
        }
        a {
          color: $secondary;
          &:hover {
            color: $primary;
          }
        }
      }
      h2 {
        margin: 0;
        @media screen and (max-width: 991px) {
          font-size: $font-size-small-medium;
        }
      }
      p {
        font-size: $font-size-normal;
        margin: 15px 0;
        line-height: normal;
        @media screen and (max-width: 991px) {
          font-size: $font-size-small-medium;
        }
      }
    }
  }

  &.banners {
    @media screen and (min-width: 768px) {
      height: 500px;
    }
    .carousel {
      width: 100%;
      height: 100%;
      z-index: 2;
      &:hover {
        .carousel-control,
        .carousel-indicators {
          opacity: 1;
        }
      }
    }
    .carousel-indicators {
      bottom: 0;
      margin: 20px 0;
      left: 0;
      width: 100%;
      opacity: 0;
      @include transition(opacity, 0.3s);
      @media screen and (max-width: 767px) {
        opacity: 1;
        margin: 10px 0;
      }
      li, li.active {
        padding: 0;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        border-color: white;
      }
      li.active {
        background: white;
      }
    }
    .carousel-control {
      @include flex();
      width: 50px;
      height: 50px;
      border: 1px solid white;
      top: calc(50% - 25px);
      opacity: 0;
      @include border-radius(100%);
      @include transition(opacity, 0.3s);
      @media screen and (max-width: 767px) {
        display: none;
      }
      .glyphicon {
        position: static;
        margin: 0;
        width: auto;
        height: auto;
        font-size: $font-size-large;
      }
      &:hover {
        cursor: pointer;
      }
      &.left {
        left: 20px;
      }
      &.right {
        right: 20px;
      }
      &.left,
      &.right {
        background: none;
        text-shadow: none;
        .glyphicon {
          color: white;
        }
      }
    }
    .carousel-inner {
      width: 100%;
      height: 100%;
      > .item {
        width: 100%;
        height: 100%;
        @media screen and (min-width: 768px) {
          padding-top: 60px;
          padding-bottom: 60px;
        }
        @media screen and (max-width: 767px) {
          padding: 30px;
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          background: $secondary;
          opacity: 0.7;
          width: 100%;
          height: 100%;
          z-index: 1;
          mix-blend-mode: multiply;

        }
        .carousel-caption.container {
          height: 100%;
          @include flex();
          left: auto;
          right: auto;
          top: auto;
          bottom: auto;
          position: relative;
          margin: auto;
          z-index: 2;
          padding: 0;
          @media screen and (max-width: 767px) {
            display: block;
          }
          > .row {
            @include flex(center, space-between);
            @media screen and (min-width: 768px) {
              width: 100%;
            }
            @media screen and (max-width: 767px) {
              display: block;
            }
            > div {
              &:first-child {
                text-align: left;
                @media screen and (min-width: 992px) {
                  padding-right: 40px;
                }
              }
              &:last-child {
                @media screen and (min-width: 992px) {
                  padding-left: 40px;
                }
              }
            }
          }
          h1, h2, p, ul li {
            text-shadow: none;
            font-family: $font-primary;
            color: white;
          }
          h1 {
            font-size: $font-size-biggest;
            font-weight: bold;
            margin: 20px 0;
            padding: 30px 0;
            border-top: 1px solid $primary;
            border-bottom: 1px solid $primary;
            letter-spacing: 0.05em;
            @media screen and (max-width: 991px) {
              font-size: $font-size-big;
            }
            @media screen and (max-width: 767px) {
              text-align: center;
              margin: 10px 0;
              padding: 15px 0;
            }
          }
          h2 {
            font-size: $font-size-larger;
            font-weight: 400;
            @media screen and (max-width: 991px) {
              font-size: $font-size-large;
            }
            @media screen and (max-width: 767px) {
              font-size: $font-size-normal;
              text-align: center;
            }
          }
          p {
            font-size: $font-size-normal;
            line-height: normal;
            margin-bottom: 0;
            @media screen and (max-width: 767px) {
              font-size: $font-size-small-medium;
              text-align: center;
              margin: 10px 0;
            }
          }
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              font-size: $font-size-largest;
              @include flex(center, space-between);
              padding: 30px 0;
              border-bottom: 1px solid $primary;
              @media screen and (max-width: 991px) {
                font-size: $font-size-large;
              }
              &:last-child {
                border-bottom: none;
              }
              @media screen and (max-width: 767px) {
                font-size: $font-size-normal-medium;
                padding: 15px 0;
              }
              .number {
                font-size: $font-size-bigger;
                display: inline;
                font-weight: bold;
                @media screen and (max-width: 991px) {
                  font-size: $font-size-largest;
                }
                @media screen and (max-width: 767px) {
                  font-size: $font-size-large;
                }
              }
            }
          }
        }
      }
    }
  }
}

event {
  .container {
    > .row {
      > div {
        &:first-child {
          @media screen and (min-width: 992px) {
            padding-right: 40px;
          }
          @media screen and (max-width: 991px) {
            margin-bottom: 30px;
          }
        }
        &:last-child {
          @media screen and (min-width: 992px) {
            padding-left: 40px;
          }
        }
      }
    }
  }
  timeline {
    @media screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
  docs {
    margin-bottom: 40px;
  }
  .angular-google-map-container {
    height: 400px;
    @media screen and (min-width: 992px) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: 991px) {
      margin-bottom: 60px;
    }
  }
  .banner {
    height: 200px;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @media screen and (max-width: 767px) {
      height: auto;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $secondary;
      opacity: 0.5;
    }
    .container {
      height: 100%;
      @include flex(flex-start, flex-end, column);
      padding-top: 40px;
      padding-bottom: 40px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 767px) {
        display: block;
      }
      h1, h2 {
        color: white;
        text-transform: none;
      }
      h1 {
        font-weight: 400;
        font-size: $font-size-bigger;
        margin: 0;
        @media screen and (max-width: 767px) {
          font-size: $font-size-largest;
        }
      }
      h2 {
        font-weight: 300;
        font-size: $font-size-large;
        margin: 0 0 10px 0;
        @media screen and (max-width: 767px) {
          font-size: $font-size-medium;
        }
      }
    }
  }
}