<div class="banner" ng-style="{'background-image' : 'url(' + $ctrl.event.image.path + ')'}">
    <div class="container">
        <h2 ng-bind="$ctrl.event.start_date | date:'d MMMM yyyy'"></h2>
        <h1 ng-bind="$ctrl.event.title"></h1>
    </div>
</div>
<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7 col-sm-12">
                <h2 ng-bind="'events.description.subtitle' | translate"></h2>
                <h1 ng-bind="'events.description.title' | translate"></h1>
                <div class="content" ng-bind-html="$ctrl.event.content"></div>
                <h2 ng-bind="'events.address.subtitle' | translate"></h2>
                <h1 ng-bind="'events.address.title' | translate"></h1>
                <p ng-bind="$ctrl.event.location.address"></p>
                <p ng-bind="$ctrl.event.location.city + ', ' + $ctrl.event.location.country.name"></p>
                <ui-gmap-google-map center="$ctrl.map.center" ng-if="$ctrl.showMap"
                                    zoom="$ctrl.map.zoom">
                    <ui-gmap-markers models="$ctrl.map.markers" coords="'self'" icon="'icon'" fit="true">
                    </ui-gmap-markers>
                </ui-gmap-google-map>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-12">
                <docs docs="$ctrl.event.docs" template-url="docs.event.component.html"></docs>
                <h2 ng-bind="'events.photos.subtitle' | translate"></h2>
                <!--<h1 ng-bind="'events.photos.title' | translate"></h1>
                <album photos="$ctrl.event.images"></album>-->
            </div>
        </div>
        <div class="row" ng-if="$ctrl.event.timeline.length">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 ng-bind="'events.dates.subtitle' | translate"></h2>
                <h1 ng-bind="'events.dates.title' | translate"></h1>
                <timeline timeline="$ctrl.event.timeline"></timeline>
            </div>
        </div>
        <div class="row" ng-if="$ctrl.event.pricing.length">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 ng-bind="'events.pricing.subtitle' | translate"></h2>
                <h1 ng-bind="'events.pricing.title' | translate"></h1>
                <pricing pricing="$ctrl.event.pricing"></pricing>
            </div>
        </div>
    </div>
</div>