<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7 col-sm-6">
                <h2 ng-bind="'events.subtitle' | translate"></h2>
                <h1 ng-bind="'events.title' | translate"></h1>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-6">
                <form ng-submit="$ctrl.search()" class="input-group input-group-lg">
                    <input class="form-control" type="text" ng-model="$ctrl.searchText"
                           placeholder="{{'form.placeholder.search.event' | translate}}">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary"
                                ng-bind="'form.buttons.search' | translate"></button>
                        <button type="button" class="btn btn-outline"
                                ng-show="params.search.length"
                                ng-click="$ctrl.clear()"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="alert"
             ng-show="!$ctrl.events.length">
            <span class="glyphicon glyphicon-info-sign"></span>
            <span ng-bind="'events.alerts.noEvents' | translate"></span>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4"
                 ng-repeat="event in $ctrl.events">
                <div class="event">
                    <figure>
                        <a ui-sref="event({id: event.id})">
                            <img ng-src="{{event.image.thumb}}">
                        </a>
                    </figure>
                    <h2 ng-bind="event.start_date | date: 'd MMMM yyyy'"></h2>
                    <h1>
                        <a ui-sref="event({id: event.id})" ng-bind="event.title">

                        </a>
                    </h1>
                    <p ng-bind="event.location.address"></p>
                    <p ng-bind="event.location.city + ', ' + event.location.country.name"></p>
                </div>
            </div>
        </div>

        <uib-pagination
                ng-show="$ctrl.total > params.limit"
                total-items="$ctrl.total"
                items-per-page="params.limit"
                template-url="pagination.template.html"
                max-size="5"
                rotate="false" data-ng-model="params.page"
                previous-text="{{'form.buttons.prev' | translate}}"
                next-text="{{'form.buttons.next' | translate}}"></uib-pagination>

    </div>
</div>