<uib-carousel active="$ctrl.active" interval="$ctrl.interval" ng-if="$ctrl.events.length">
    <uib-slide
            ng-repeat="event in $ctrl.events | filter: {lang: $ctrl.currentLang} | limitTo: $ctrl.params.limit track by $index"
            index="$index"
            ng-style="{'background-image' : 'url(' + event.image.path + ')'}">
        <div class="carousel-caption container">
            <div class="row">
                <div class="col-md-5 col-lg-4 col-sm-6">
                    <h2 ng-bind="event.title"></h2>
                    <h1 ng-bind="event.start_date | date:'MMM d'"></h1>
                    <p ng-bind="event.location.address"></p>
                    <p ng-bind="event.location.city + ', ' + event.location.country.name"></p>
                    <p>
                        <a ui-sref="event({id:event.id})" class="btn btn-primary btn-lg"
                           ng-bind="'events.buttons.view' | translate"></a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-5 col-sm-offset-1 col-md-offset-3 col-lg-offset-4">
                    <ul ng-if="event.features.length">
                        <li ng-repeat="feature in event.features">
                            <div class="number" ng-bind="feature.amount"></div>
                            <span ng-bind="feature.title"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </uib-slide>
</uib-carousel>