@import "../layout/colors", "../layout/fonts", "../layout/mixins";

profiles {
  display: block;
  width: 100%;
  .filters {
    nav {
      @include flex(center, space-between);
      border-bottom: 1px solid lighten($secondary, 70%);
      padding-bottom: 10px;
      margin-bottom: 30px;
      @media screen and (max-width: 991px) {
        display: block;
      }
      a {
        font-weight: 300;
        color: $secondary;
        @include inline-flex();
        @include border-radius(100%);
        width: 24px;
        height: 24px;
        text-align: center;
        @media screen and (max-width: 991px) {
          font-size: $font-size-small;
        }
        &:hover {
          color: $primary;
        }
        &.active {
          background: $primary;
          color: white;
          font-weight: 400;
        }
      }
    }
    margin-bottom: 40px;
  }
  .profile.media {
    margin: 15px 0;
    padding: 15px 0;
    border-bottom: 1px solid lighten($secondary, 70%);
    .media-object.pull-left {
      padding: 0;
      margin-right: 30px;
      @media screen and (max-width: 991px) {
        margin-right: 20px;
      }
      img {
        width: 100px;
        height: 100px;
        @media screen and (max-width: 991px) {
          width: 80px;
          height: 80px;
        }
        @media screen and (max-width: 767px) {
          width: 60px;
          height: 60px;
        }
      }
    }
    .media-body {
      h1 {
        text-transform: none;
        margin: 10px 0 30px 0;
        font-size: $font-size-larger;
        @media screen and (max-width: 991px) {
          margin: 5px 0 10px 0;
          font-size: $font-size-medium-large;
        }
      }
      h2 {
        margin: 0;
        @media screen and (max-width: 991px) {
          font-size: $font-size-small-medium;
        }
      }
      h4 {
        font-size: $font-size-normal;
        font-weight: 400;
        color: $papyrus;
        margin: 10px 0 0 0;
        @media screen and (max-width: 991px) {
          font-size: $font-size-small-medium;
          margin: 5px 0 0 0;
        }
      }
      p {
        font-size: $font-size-normal;
        margin: 10px 0 20px 0;
        line-height: normal;
        @media screen and (max-width: 991px) {
          font-size: $font-size-small;
          margin: 10px 0;
        }
      }
      .email {
        display: block;
        font-weight: 400;
        margin-bottom: 10px;
        font-size: $font-size-small;
        font-family: $font-secondary;
        @media screen and (max-width: 991px) {
          font-size: $font-size-small-medium;
        }
      }
      nav {
        a {
          display: inline-block;
          margin-left: 5px;
          img {
            @media screen and (max-width: 991px) {
              width: 16px;
              height: auto;
            }
          }
        }
        @media screen and (max-width: 991px) {
          display: block;
          text-align: left;
          margin-bottom: 20px;
        }
      }
    }
  }
}

profile {
  display: block;
  width: 100%;
  .banner {
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @media screen and (max-width: 767px) {
      height: 160px;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $secondary;
      opacity: 0.5;
    }
    .container {
      position: relative;
      z-index: 2;
      @include flex(center);
      padding-top: 70px;
      @media screen and (max-width: 767px) {
        @include flex(center, flex-end, column-reverse);
        padding-top: 70px;
      }
      figure {
        width: 220px;
        height: 220px;
        padding: 10px;
        background: white;
        @include border-radius(100%);
        overflow: hidden;
        margin-right: 40px;
        @media screen and (max-width: 767px) {
          width: 130px;
          height: 130px;
          margin: -20px auto 0;
          padding: 5px;
        }
        img {
          @include border-radius(100%);
          width: 100%;
          height: 100%;
        }
      }
      > div {
        width: calc(100% - 280px);
        @media screen and (max-width: 767px) {
          width: 100%;
          text-align: center;
        }
        h1, h2 {
          color: white;
          text-transform: none;
          position: relative;
          top: -40px;
        }
        h1 {
          font-weight: 400;
          font-size: $font-size-bigger;
          margin: 0;
          @media screen and (max-width: 767px) {
            font-size: $font-size-larger;
          }
        }
        h2 {
          font-weight: 300;
          font-size: $font-size-large;
          margin: 0 0 10px 0;
          @media screen and (max-width: 767px) {
            font-size: $font-size-normal-medium;
            margin: 0 0 5px 0;
          }
        }
      }
    }
  }
  .panel {
    margin-top: 60px;
    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
    a {
      img {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
  .container {
    > .row {
      > div {
        &:first-child {
          @media screen and (min-width: 992px) {
            padding-right: 40px;
          }
        }
        &:last-child {
          @media screen and (min-width: 992px) {
            padding-left: 40px;
          }
          .content {
            @media screen and (max-width: 991px) {
              margin-bottom: 60px;
            }
            @media screen and (max-width: 767px) {
              margin-bottom: 40px;
            }
          }
        }
      }
    }
  }

  posts, docs {
    .post.media, .doc.media {
      border-bottom: 1px solid lighten($secondary, 70%);
      figure.media-object.pull-left {
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin-right: 20px;
        padding: 0;
        text-align: center;
        @include border-radius(100%);
        @media screen and (max-width: 991px) {
          width: 150px;
          height: 150px;
          margin-right: 30px;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
          height: auto;
          float: none;
          margin-right: 0;
          @include border-radius(0);
          margin-bottom: 40px;
        }
        img {
          height: 100%;
          width: 100%;
          @media screen and (max-width: 767px) {
            display: block;
            margin: auto;
            width: auto;
            max-width: 100%;
            height: auto;
          }
        }
      }
      .media-body {
        nav {
          margin: 15px 0;
        }
        h1 {
          font-size: $font-size-medium;
          margin-bottom: 15px;
        }
        h2 {
          font-size: $font-size-small;
        }
        p {
          line-height: normal;
          font-size: $font-size-normal;
          margin: 0 0 15px 0;
          @media screen and (max-width: 991px) {
            font-size: $font-size-small-medium;
          }
        }
      }
    }
  }
  posts {
    .post {
      @media screen and (max-width: 991px) {
        padding-bottom: 20px;
      }
    }
  }
  albums, videos {
    @include flex(flex-start, space-between);
    @media screen and (max-width: 991px) {
      display: block;
      text-align: center;
    }
    .album, .video {
      width: 200px;
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        width: 180px;
      }
      @media screen and (max-width: 991px) {
        display: inline-block;
        vertical-align: top;
        margin: 10px 20px;
      }
      figure {
        width: 100%;
        margin-bottom: 20px;
        @media screen and (max-width: 991px) {
          width: auto;
        }
        img {
          width: 100%;
          height: auto;
          @media screen and (max-width: 991px) {
            width: auto;
          }
        }
      }
      h1 {
        font-size: $font-size-medium;
        margin-bottom: 15px;
        text-transform: none;
        @media screen and (max-width: 991px) {
          font-size: $font-size-normal;
        }
      }
      h2 {
        font-size: $font-size-small;
        @media screen and (max-width: 991px) {
          font-size: $font-size-smaller;
        }
      }
    }
  }
}