<div class="filters">
    <nav>
        <a href ng-repeat="letter in $ctrl.letters" ng-class="{'active': params.letter === letter}"
           ng-click="params.letter = letter" ng-bind="letter"></a>
    </nav>
    <form ng-submit="$ctrl.search()" class="input-group input-group-lg">
        <input class="form-control" type="text" ng-model="$ctrl.searchText"
               placeholder="{{'form.placeholder.search.profile' | translate}}">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-bind="'form.buttons.search' | translate"></button>
            <button type="button" class="btn btn-outline"
                    ng-show="params.letter.length || params.search.length"
                    ng-click="$ctrl.clear()"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </form>
</div>

<div class="alert"
     ng-show="!$ctrl.profiles.length">
    <span class="glyphicon glyphicon-info-sign"></span>
    <span ng-bind="'profiles.alerts.noprofiles' | translate"></span>
</div>

<div class="media profile"
     ng-repeat="profile in $ctrl.profiles">
    <figure class="media-object pull-left">
        <img class="img-circle"
             ng-src="{{(profile.user.image.thumb) ? profile.user.image.thumb : 'img/profiles/thumbs/default.svg'}}">
    </figure>
    <div class="media-body">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <h1 ng-bind="profile.name"></h1>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <nav class="text-right">
                    <a ng-href="{{profile.facebook}}">
                        <img src="img/icons/facebook.svg">
                    </a>
                    <a ng-href="{{profile.twitter}}">
                        <img src="img/icons/twitter.svg">
                    </a>
                    <a ng-href="{{profile.google}}">
                        <img src="img/icons/google.svg">
                    </a>
                    <a ng-href="{{profile.skype}}">
                        <img src="img/icons/skype.svg">
                    </a>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div ng-if="profile.discipline.length">
                    <h4 ng-bind="'profiles.discipline' | translate"></h4>
                    <p ng-bind="profile.discipline"></p>
                </div>
                <div ng-if="profile.institution.length">
                    <h4 ng-bind="'profiles.institution' | translate"></h4>
                    <p ng-bind="profile.institution"></p>
                </div>
                <div ng-if="profile.areas.length">
                    <h4 ng-bind="'profiles.areas' | translate"></h4>
                    <p ng-bind="profile.areas"></p>
                </div>
                <div ng-if="profile.created_at">
                    <h4 ng-bind="'profiles.joined' | translate"></h4>
                    <p ng-bind="profile.created_at | moment:'post'"></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div ng-if="profile.user.email.length">
                    <h4 ng-bind="'profiles.email' | translate"></h4>
                    <p>
                        <a ng-href="mailto:{{profile.user.email}}" ng-bind="profile.user.email"></a>
                    </p>
                </div>
                <div ng-if="profile.address_personal.length">
                    <h4 ng-bind="'profiles.addressPersonal' | translate"></h4>
                    <p ng-bind="profile.address_personal"></p>
                </div>
                <div ng-if="profile.address_institution.length">
                    <h4 ng-bind="'profiles.addressInstitution' | translate"></h4>
                    <p ng-bind="profile.address_institution"></p>
                </div>
                <div>
                    <h4 ng-bind="'profiles.cityCountry' | translate"></h4>
                    <p ng-bind="profile.city + ', ' + profile.country.name"></p>
                </div>
            </div>
        </div>

    </div>
</div>

<uib-pagination
        ng-show="$ctrl.total > params.limit"
        total-items="$ctrl.total"
        items-per-page="params.limit"
        template-url="pagination.template.html"
        max-size="5"
        rotate="false" data-ng-model="params.page"
        previous-text="{{'form.buttons.prev' | translate}}"
        next-text="{{'form.buttons.next' | translate}}"></uib-pagination>