<div class="profile media"
     ng-repeat="profile in $ctrl.profiles">
    <figure class="media-object pull-left">
        <img class="img-circle"
             ng-src="{{(profile.user.image.thumb) ? profile.user.image.thumb : 'img/users/thumbs/default.svg'}}">
    </figure>
    <div class="media-body">
        <h1 class="media-heading" ng-bind="profile.name"></h1>
        <a ng-href="mailto:{{profile.user.email}}" ng-bind="profile.user.email"></a>
    </div>
</div>