<div class="banner" ng-style="{'background-image' : 'url(' + $ctrl.profile.user.image.path + ')'}">
    <div class="container">
        <figure>
            <img ng-src="{{($ctrl.profile.user.image.thumb) ? $ctrl.profile.user.image.thumb : 'img/profiles/thumbs/default.svg'}}">
        </figure>
        <div>
            <h2 ng-bind="$ctrl.profile.discipline"></h2>
            <h1 ng-bind="$ctrl.profile.name"></h1>
        </div>
    </div>
</div>
<div class="margin">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-5">
                <div class="panel">
                    <div class="panel-body">
                        <h3 ng-bind="'profile.birthday' | translate"></h3>
                        <p ng-bind="$ctrl.profile.birthday | date:'d MMMM yyyy'"></p>
                        <h3 ng-bind="'profile.location' | translate"></h3>
                        <p ng-bind="$ctrl.profile.address_personal + '. ' + $ctrl.profile.city + ', ' + $ctrl.profile.country.name"></p>
                        <h3 ng-bind="'profile.phone' | translate"></h3>
                        <p ng-bind="$ctrl.profile.phone"></p>
                        <h3 ng-bind="'profile.email' | translate"></h3>
                        <p>
                            <a ng-href="mailto:{{$ctrl.profile.user.email}}" ng-bind="$ctrl.profile.user.email"></a>
                        </p>
                        <h3 ng-bind="'profile.website' | translate"></h3>
                        <p>
                            <a ng-href="{{$ctrl.profile.website}}" target="_blank" ng-bind="$ctrl.profile.website"></a>
                        </p>
                        <h3 ng-bind="'profile.socials' | translate"></h3>
                        <p>
                            <a ng-href="{{$ctrl.profile.facebook}}" target="_blank"><img
                                    src="img/icons/facebook.svg"></a>
                            <a ng-href="{{$ctrl.profile.twitter}}" target="_blank"><img src="img/icons/twitter.svg"></a>
                            <a ng-href="{{$ctrl.profile.google}}" target="_blank"><img src="img/icons/google.svg"></a>
                            <a href uib-tooltip="{{$ctrl.profile.skype}}"><img src="img/icons/skype.svg"></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-7">
                <h2 ng-bind="'profile.subtitle' | translate"></h2>
                <h1 ng-bind="'profile.title' | translate:{name:$ctrl.profile.name}"></h1>
                <div class="content" ng-bind-html="$ctrl.profile.content"></div>
                <h2 ng-bind="'education.subtitle' | translate"></h2>
                <h1 ng-bind="'education.title' | translate"></h1>
                <education education="$ctrl.profile.education"></education>
            </div>
        </div>
        <div class="row margin">
            <div class="col-md-6 col-lg-6">
                <h2 ng-bind="'profile.posts.subtitle' | translate"></h2>
                <h1 ng-bind="'profile.posts.title' | translate"></h1>
                <posts posts="$ctrl.profile.posts" limit="3" template-url="posts.profile.component.html"></posts>
            </div>
            <div class="col-md-6 col-lg-6">
                <h2 ng-bind="'profile.docs.subtitle' | translate"></h2>
                <h1 ng-bind="'profile.docs.title' | translate"></h1>
                <docs docs="$ctrl.profile.docs" limit="3" template-url="docs.profile.component.html"></docs>
            </div>
        </div>
        <div class="margin">
            <h2 ng-bind="'profile.albums.subtitle' | translate"></h2>
            <h1 ng-bind="'profile.albums.title' | translate"></h1>
            <albums albums="$ctrl.profile.albums" limit="5" template-url="albums.profile.component.html"></albums>
        </div>
        <div class="margin">
            <h2 ng-bind="'profile.videos.subtitle' | translate"></h2>
            <h1 ng-bind="'profile.videos.title' | translate"></h1>
            <videos videos="$ctrl.profile.videos" limit="5" template-url="videos.profile.component.html"></videos>
        </div>
    </div>
</div>