@import "../layout/colors", "../layout/fonts", "../layout/mixins";

directory {
  > .row {
    > div {
      @media screen and (min-width: 992px) {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
  .member {
    text-align: center;
    margin: 30px 0;
    figure {
      display: block;
      img {
        display: inline-block;
        margin: 0 0 40px 0;
        max-width: 100%;
        height: auto;
      }
    }
    h1 {
      font-weight: 400;
      font-size: $font-size-menu;
      margin: 0 0 10px 0;
      text-transform: none;
      @media screen and (max-width: 991px) {
        font-size: $font-size-medium;
      }
    }
    h2 {
      color: $papyrus;
      font-size: $font-size-normal;
      margin: 0;
      font-weight: 300;
      text-transform: none;
      @media screen and (max-width: 991px) {
        font-size: $font-size-small-medium;
      }
    }
    hr {
      border: none;
      border-bottom: 1px solid lighten($secondary, 70%);
      margin: 20px auto 10px;
      width: 200px;
    }
    a {
      color: $primary;
      font-size: $font-size-normal;
      @media screen and (max-width: 991px) {
        font-size: $font-size-small;
      }
      &:hover {
        color: lighten($primary, 20%);
      }
    }
  }
}