<ul class="nav nav-tabs">
    <li ng-repeat="tab in $ctrl.directories" ng-class="{'active': tab.id === params.year}">
        <a href ng-click="params.year = tab.id" ng-bind="tab.id"></a>
    </li>
</ul>
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-6 text-center">
        <h3 ng-bind="$ctrl.current.label"></h3>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6" ng-repeat="member in $ctrl.directory">
        <div class="member">
            <figure>
                <img class="img-circle" ng-src="{{member.image.path}}">
            </figure>
            <h1 ng-bind="member.name"></h1>
            <h2 ng-bind="member.directory.role"></h2>
            <hr>
            <a ng-href="mailto:{{member.email}}" ng-bind="member.email"></a>
        </div>
    </div>
</div>