<div class="member media" ng-repeat="member in $ctrl.directory">
    <figure class="media-object pull-left">
        <img class="img-circle" ng-src="{{member.image.thumb}}">
    </figure>
    <div class="media-body">
        <h1 ng-bind="member.name"></h1>
        <h2 ng-bind="member.role"></h2>
        <a ng-href="mailto:{{member.email}}" ng-bind="member.email"></a>
    </div>
</div>