<div class="modal-header">
    <h1 class="modal-title" ng-bind="Lightbox.imageCaption"></h1>
    <a href class="close" aria-hidden="true" ng-click="$dismiss()">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
</div>
<div class="modal-body" ng-swipe-left="Lightbox.nextImage()" ng-swipe-right="Lightbox.prevImage()">

    <!--Image-->
    <img ng-if="!Lightbox.isVideo(Lightbox.image)" lightbox-src="{{Lightbox.imageUrl}}">

    <!--Video-->
    <div ng-if="Lightbox.isVideo(Lightbox.image)" class="embed-responsive embed-responsive-16by9">
        <embed-video lightbox-src="{{Lightbox.imageUrl}}"
                     ng-href="{{Lightbox.imageUrl}}"
                     iframe-id="lightbox-video"
                     class="embed-responsive-item"
                     autoplay="1">
            <a ng-href="{{Lightbox.imageUrl}}" ng-bind="'videos.buttons.watch' | translate"></a>
        </embed-video>
    </div>
</div>
<div class="modal-footer clearfix text-center">
    <ul class="pagination">
        <li>
            <a href ng-click="Lightbox.prevImage()" uib-tooltip="{{'form.buttons.prev' | translate}}">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </li>
        <li ng-if="!Lightbox.isVideo(Lightbox.image)">
            <a ng-href="{{Lightbox.imageUrl}}" target="_blank" class="btn btn-default"
               uib-tooltip="{{'form.buttons.openInNewWindow' | translate}}">
                <span class="glyphicon glyphicon-new-window"></span>
            </a>
        </li>
        <li>
            <a href ng-click="Lightbox.nextImage()" uib-tooltip="{{'form.buttons.next' | translate}}">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </li>
    </ul>
</div>