@import "../layout/colors", "../layout/fonts", "../layout/mixins";

registration {
  display: block;
  width: 100%;
  form {
    padding-bottom: 60px;
    > .container {
      > .row {
        > div {
          &:first-child {
            @media screen and (max-width: 767px) {
              margin-bottom: 40px;
            }
          }
          > .row.center {
            @include flex(center, space-around);
            margin-top: 13px;
            margin-bottom: 13px;
            @media screen and (max-width: 991px) {
              margin-top: 8px;
              margin-bottom: 8px;
            }
            @media screen and (max-width: 767px) {
              display: block;
              margin-top: 0;
              margin-bottom: 0;
            }
            &:last-child {
              > div {
                &:last-child {
                  @media screen and (max-width: 767px) {
                    margin-top: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
    iframe {
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        @include transform(scale(0.8));
        margin-left: -30px;
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        @include transform(scale(0.7));
        margin-left: -45px;
      }
    }
    .text-right {
      @media screen and (max-width: 767px) {
        text-align: left;
      }
    }
  }
}