<form name="registration" class="margin" ng-submit="$ctrl.enroll()">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <h2 ng-bind="'registration.subtitle' | translate"></h2>
                <h1 ng-bind="'registration.title' | translate"></h1>
                <div class="form-group-lg required">
                    <label ng-bind="'form.label.name' | translate"></label>
                    <input type="text" class="form-control" required name="name"
                           placeholder="{{'form.placeholder.name' | translate}}" ng-model="$ctrl.inscription.name">
                </div>
                <div class="form-group-lg required">
                    <label ng-bind="'form.label.email' | translate"></label>
                    <input type="email" class="form-control" required name="email"
                           placeholder="{{'form.placeholder.email' | translate}}"
                           ng-model="$ctrl.inscription.email">
                </div>
                <div class="form-group-lg required">
                    <label ng-bind="'form.label.address' | translate"></label>
                    <input type="text" class="form-control" required name="address"
                           placeholder="{{'form.placeholder.address' | translate}}"
                           ng-model="$ctrl.inscription.address">
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group-lg required">
                            <label ng-bind="'form.label.city' | translate"></label>
                            <input type="text" class="form-control" required name="city"
                                   placeholder="{{'form.placeholder.city' | translate}}"
                                   ng-model="$ctrl.inscription.city">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group-lg required">
                            <label ng-bind="'form.label.country' | translate"></label>
                            <input type="text" class="form-control" required name="country"
                                   placeholder="{{'form.placeholder.country' | translate}}"
                                   ng-model="$ctrl.inscription.country">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group-lg">
                            <label ng-bind="'form.label.zip' | translate"></label>
                            <input type="tel" class="form-control" name="zip"
                                   placeholder="{{'form.placeholder.zip' | translate}}"
                                   ng-model="$ctrl.inscription.zip">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group-lg">
                            <label ng-bind="'form.label.phone' | translate"></label>
                            <input type="tel" class="form-control" name="phone"
                                   placeholder="{{'form.placeholder.phone' | translate}}"
                                   ng-model="$ctrl.inscription.phone">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group-lg required">
                            <label ng-bind="'form.label.discipline' | translate"></label>
                            <input type="text" class="form-control" required name="discipline"
                                   placeholder="{{'form.placeholder.discipline' | translate}}"
                                   ng-model="$ctrl.inscription.discipline">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group-lg required">
                            <label ng-bind="'form.label.profession' | translate"></label>
                            <input type="text" class="form-control" required name="profession"
                                   placeholder="{{'form.placeholder.profession' | translate}}"
                                   ng-model="$ctrl.inscription.profession">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group-lg required">
                            <label ng-bind="'form.label.institution' | translate"></label>
                            <input type="text" class="form-control" required name="institution"
                                   placeholder="{{'form.placeholder.institution' | translate}}"
                                   ng-model="$ctrl.inscription.institution">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group-lg required">
                            <label ng-bind="'form.label.membership' | translate"></label>
                            <select class="form-control" name="membership" required
                                    ng-model="$ctrl.inscription.membership">
                                <option value="" ng-bind="'form.options.membership.select' | translate"></option>
                                <optgroup label="{{'form.options.membership.bolivian' | translate}}">
                                    <option value="1"
                                            ng-bind="('form.options.professionals' | translate) + ' - ' + ('form.options.membership.bolivian' | translate)"></option>
                                    <option value="2"
                                            ng-bind="('form.options.students' | translate) + ' - ' + ('form.options.membership.bolivian' | translate)"></option>
                                    <option value="3"
                                            ng-bind="('form.options.exhibitors' | translate) + ' - ' + ('form.options.membership.bolivian' | translate)"></option>
                                </optgroup>
                                <optgroup label="{{'form.options.membership.nonBolivian' | translate}}">
                                    <option value="4"
                                            ng-bind="('form.options.professionals' | translate) + ' - ' + ('form.options.membership.nonBolivian' | translate)"></option>
                                    <option value="5"
                                            ng-bind="('form.options.students' | translate) + ' - ' + ('form.options.membership.nonBolivian' | translate)"></option>
                                    <option value="6"
                                            ng-bind="('form.options.exhibitors' | translate) + ' - ' + ('form.options.membership.nonBolivian' | translate)"></option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <h2 ng-bind="'registration.payment.subtitle' | translate"></h2>
                <h1 ng-bind="'registration.payment.title' | translate"></h1>
                <div class="form-group-lg required">
                    <label ng-bind="'form.label.name' | translate"></label>
                    <input type="text" class="form-control" required name="name"
                           placeholder="{{'form.placeholder.name' | translate}}" ng-model="$ctrl.billing.name">
                </div>
                <div class="form-group-lg required">
                    <label ng-bind="'form.label.email' | translate"></label>
                    <input type="email" class="form-control" required name="email"
                           placeholder="{{'form.placeholder.email' | translate}}" ng-model="$ctrl.billing.email">
                </div>
                <div class="form-group-lg required">
                    <label ng-bind="'form.label.address' | translate"></label>
                    <input type="text" class="form-control" required name="address"
                           placeholder="{{'form.placeholder.address' | translate}}"
                           ng-model="$ctrl.billing.address">
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group-lg required">
                            <label ng-bind="'form.label.city' | translate"></label>
                            <input type="text" class="form-control" required name="city"
                                   placeholder="{{'form.placeholder.city' | translate}}"
                                   ng-model="$ctrl.billing.city">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group-lg required">
                            <label ng-bind="'form.label.country' | translate"></label>
                            <input type="text" class="form-control" required name="country"
                                   placeholder="{{'form.placeholder.country' | translate}}"
                                   ng-model="$ctrl.billing.country">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group-lg">
                            <label ng-bind="'form.label.zip' | translate"></label>
                            <input type="tel" class="form-control" name="zip"
                                   placeholder="{{'form.placeholder.zip' | translate}}"
                                   ng-model="$ctrl.billing.zip">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="form-group-lg">
                            <label ng-bind="'form.label.phone' | translate"></label>
                            <input type="tel" class="form-control" name="phone"
                                   placeholder="{{'form.placeholder.phone' | translate}}"
                                   ng-model="$ctrl.billing.phone">
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <div class="col-md-8 col-lg-8 col-sm-7">
                        <label>
                            <input type="checkbox" ng-model="sameBilling">
                            <span ng-bind="'form.label.sameBilling' | translate"></span>
                        </label>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-5 text-right">
                        <label class="light">
                            <span ng-bind="'form.label.securePayments' | translate"></span>
                            <img src="img/assets/paypal-logo.svg">
                        </label>
                    </div>
                </div>
                <div class="row center">
                    <div class="col-md-7 col-lg-7 col-sm-8">
                        <div vc-recaptcha lang="$ctrl.currentLang" key="'6Ld1iw4UAAAAAClLWfyShe-bYUauYzrK-kNAP3lC'"
                             ng-model="$ctrl.captcha"></div>
                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-4">
                        <button type="submit" class="btn btn-primary btn-lg btn-block"
                                ng-disabled="registration.$invalid || $ctrl.loading"
                                ng-bind="'form.buttons.enroll' | translate"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>