@import "../layout/colors", "../layout/fonts", "../layout/mixins";

timeline {
  display: block;
  width: 100%;
  position: relative;
  .timeline {
    position: absolute;
    width: 12px;
    @include border-radius(12px);
    background: lighten($secondary, 80%);
    left: calc(50% - 6px);
    top: 0;
    height: 100%;
    @media screen and (max-width: 991px) {
      width: 8px;
      left: calc(50% - 4px);
      @include border-radius(8px);
    }
    @media screen and (max-width: 767px) {
      left: 0;
    }
  }
  > .event {
    .row {
      @include flex();
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        @include border-radius(100%);
        @include box-sizing(content-box);
        background: $primary;
        position: absolute;
        left: calc(50% - 15px);
        top: calc(50% - 15px);
        z-index: 1;
        border: 10px solid lighten($secondary, 80%);
        @media screen and (max-width: 991px) {
          width: 6px;
          height: 6px;
          border: 6px solid lighten($secondary, 80%);
          left: calc(50% - 9px);
          top: calc(50% - 9px);
        }
        @media screen and (max-width: 767px) {
          left: 10px;
        }
      }
      > div {
        @include flex(center, space-between);
        p {
          font-size: $font-size-normal;
          font-weight: normal;
          line-height: normal;
          text-align: left;
          width: calc(100% - 130px);
          @media screen and (max-width: 991px) {
            width: calc(100% - 90px);
            font-size: $font-size-small;
          }
        }
        figure {
          @include flex(center, center, column);
          color: $primary;
          width: 100px;
          height: 100px;
          margin: 0 15px;
          text-transform: uppercase;
          font-weight: normal;
          @media screen and (max-width: 991px) {
            margin: 0 10px;
            width: 70px;
            height: 70px;
          }
          .month {
            font-size: $font-size-medium;
            color: lighten($secondary, 20%);
            @media screen and (max-width: 991px) {
              font-size: $font-size-small;
            }
          }
          .day {
            font-size: $font-size-largest;
            @media screen and (max-width: 991px) {
              font-size: $font-size-large;
            }
          }
        }
      }
    }
    &:nth-child(even) {
      .row {
        @include flex(center, flex-start);
        > div {
          @media screen and (max-width: 767px) {
            @include flex(center, space-between, row-reverse);
          }
          figure {
            background: url("../img/assets/timeline-event-left.svg") no-repeat center / contain;
            @media screen and (max-width: 767px) {
              background: url("../img/assets/timeline-event-right.svg") no-repeat center / contain;
              margin-left: 20px;
            }
            .month, .day {
              position: relative;
              left: -3px;
              @media screen and (max-width: 767px) {
                left: 3px;
              }
            }
            .month {
              top: 5px;
            }
          }
        }
      }
    }
    &:nth-child(odd) {
      .row {
        @include flex(center, flex-end);
        > div {
          @include flex(center, space-between, row-reverse);
          figure {
            background: url("../img/assets/timeline-event-right.svg") no-repeat center / contain;
            @media screen and (max-width: 767px) {
              margin-left: 20px;
            }
            .month, .day {
              position: relative;
              left: 3px;
            }
            .month {
              top: 5px;
            }
          }
        }
      }
    }
  }
}