<div class="timeline"></div>
<div class="event" ng-repeat="event in $ctrl.timeline">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6">
            <p ng-bind="event.description"></p>
            <figure>
                <span class="month" ng-bind="event.date | date:'MMM'"></span>
                <span class="day" ng-bind="event.date | date:'d'"></span>
            </figure>
        </div>
    </div>
</div>