<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-bind="'pricing.table.membership' | translate"></th>
            <th ng-bind="'pricing.table.nationality' | translate"></th>
            <th ng-bind="'pricing.table.member' | translate"></th>
            <th ng-bind="'pricing.table.price' | translate"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pricing in $ctrl.pricing">
            <td ng-bind="pricing.membership"></td>
            <td ng-bind="pricing.nationality"></td>
            <td ng-bind="pricing.member"></td>
            <td ng-bind="pricing.price | currency: pricing.currency: 0"></td>
        </tr>
        </tbody>
    </table>
</div>