@import "../layout/colors", "../layout/fonts", "../layout/mixins";

subscription {
  display: block;
  width: 100%;
  background: $secondary;
  border-bottom: 1px solid $primary;
  height: 100px;
  @media screen and (max-width: 767px) {
    height: auto;
    padding: 15px 0;
  }
  form {
    height: 100%;
    .container {
      height: 100%;
      .row {
        height: 100%;
        @include flex(center, space-between);
        @media screen and (max-width: 767px) {
          display: block;
        }
        h1 {
          margin: 0;
          color: white;
          display: flex;
          align-items: center;
          figure {
            @include border-radius(100%);
            display: inline-block;
            width: 60px;
            height: 60px;
            background: $primary;
            text-align: center;
            line-height: 67px;
            margin-right: 20px;
            .glyphicon {
              font-size: $font-size-larger;
            }
          }
          @media screen and (max-width: 767px) {
            margin-bottom: 10px;
            text-align: center;
          }
        }
        .input-group {
          display: flex;
          align-items: center;
          &.input-group-lg {
            margin: 0;
            .form-control {
              background: white;
              border-color: white;
              font-size: $font-size-medium;
              &[name="name"] {
                width: 270px;
                border-right: 1px solid $gray-menu;
              }
              &[name="email"] {
                width: 350px;
              }
              @media screen and (max-width: 991px) {
                font-size: $font-size-normal;
              }
            }
          }
        }
      }
    }
  }
}

subscription-activation,
subscription-settings {
  h2 {
    margin-top: 30px;
  }
  img {
    width: 100px;
    height: 100px;
  }
}