<form name="subscribeForm" ng-submit="$ctrl.subscribe()">
    <div class="container">
        <div class="row">
            <h1>
                <figure>
                    <span class="glyphicon glyphicon-envelope"></span>
                </figure>
                <span ng-bind="'subscription.title' | translate"></span>
            </h1>
            <div class="input-group input-group-lg">
                <input type="text" name="name" required class="form-control" ng-model="$ctrl.subscriber.name"
                       placeholder="{{'form.placeholder.name' | translate}}">
                <input type="email" name="email" required class="form-control" ng-model="$ctrl.subscriber.email"
                       placeholder="{{'form.placeholder.email' | translate}}">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-lg"
                            ng-disabled="subscribeForm.$invalid || $ctrl.loading"
                            ng-bind="'form.buttons.subscribe' | translate"></button>
                </div>
            </div>
        </div>
    </div>
</form>