<div class="padding">
    <div class="container">
        <div class="row">
            <div ng-show="$ctrl.loading"
                 class="col-md-4 col-lg-4 col-sm-6 col-sm-offset-3 col-md-offset-4 col-lg-offset-4 text-center">
                <img src="img/icons/ball.svg">
                <h1 ng-bind="'subscription.activation.loading' | translate"></h1>
                <h2 ng-bind="'subscription.activation.subtitle' | translate"></h2>
                <p ng-bind="'subscription.activation.description' | translate"></p>
            </div>
            <div ng-show="$ctrl.success"
                 class="col-md-6 col-lg-6 col-sm-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 text-center">
                <img src="img/icons/success.svg">
                <h1 ng-bind="'subscription.success.title' | translate"></h1>
                <h2 ng-bind="'subscription.success.subtitle' | translate"></h2>
                <p ng-bind="'subscription.success.description' | translate"></p>
                <p class="text-center">
                    <a class="btn btn-primary btn-lg"
                       ui-sref="subscriptionSettings({token: $ctrl.token})"
                       ng-bind="'subscription.settings.go ' | translate"></a>
                </p>
            </div>
            <div ng-show="$ctrl.failure"
                 class="col-md-6 col-lg-6 col-sm-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 text-center">
                <img src="img/icons/failure.svg">
                <h1 ng-bind="'subscription.failure.title' | translate"></h1>
                <h2 ng-bind="'subscription.failure.subtitle' | translate"></h2>
                <p ng-bind="'subscription.failure.description' | translate"></p>
            </div>
        </div>
    </div>
</div>