<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 text-center">
                <form name="subscriptionForm" ng-submit="$ctrl.updateSubscriber()">

                    <img src="img/icons/mail.svg">
                    <h2 ng-bind="$ctrl.subscriber.name"></h2>
                    <h1 ng-bind="$ctrl.subscriber.email"></h1>
                    <ul class="list-group text-left">
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox" ng-model="$ctrl.subscriber.active">
                                <span ng-bind="'subscription.settings.active' | translate"></span>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox" ng-model="$ctrl.subscriber.posts">
                                <span ng-bind="'subscription.settings.posts' | translate"></span>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox" ng-model="$ctrl.subscriber.events">
                                <span ng-bind="'subscription.settings.events' | translate"></span>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox" ng-model="$ctrl.subscriber.docs">
                                <span ng-bind="'subscription.settings.docs' | translate"></span>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox" ng-model="$ctrl.subscriber.magazines">
                                <span ng-bind="'subscription.settings.magazines' | translate"></span>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox" ng-model="$ctrl.subscriber.newsletters">
                                <span ng-bind="'subscription.settings.newsletters' | translate"></span>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox" ng-model="$ctrl.subscriber.publications">
                                <span ng-bind="'subscription.settings.publications' | translate"></span>
                            </label>
                        </li>
                    </ul>
                    <p class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg"
                                ng-disabled="subscriptionForm.$invalid || $ctrl.loading"
                                ng-bind="'subscription.settings.save' | translate"></button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>