@import "../layout/colors", "../layout/fonts", "../layout/mixins";

faq, question {
  display: block;
  width: 100%;
  .filters {
    margin-bottom: 40px;
  }
  > .item {
    margin: 15px 0;
    padding: 15px 0;
    border-bottom: 1px solid lighten($secondary, 70%);
    &:last-child {
      border-bottom: none;
    }
  }
  h1 {
    text-transform: none;
    font-size: $font-size-medium-large;
    margin: 0 0 10px 0;
    @include flex(flex-start, space-between);
    @media screen and (max-width: 991px) {
      font-size: $font-size-medium;
      margin: 0 0 5px 0;
    }
    @media screen and (max-width: 767px) {
      font-size: $font-size-normal-medium;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .answer {
    margin: 20px 0;
    p {
      font-size: $font-size-normal;
      margin: 10px 0 20px 0;
      line-height: normal;
      @media screen and (max-width: 991px) {
        font-size: $font-size-small-medium;
        margin: 5px 0 10px 0;
      }
    }
  }
}

question {
  h1 {
    font-size: $font-size-largest;
    margin-bottom: 40px;
  }
}