<ul>
    <li ng-repeat="faq in $ctrl.faq">
        <a href ui-sref="question({id: faq.id})">
            <span class="glyphicon glyphicon-arrow-right"></span>
            <span ng-bind="faq.question"></span>
        </a>
    </li>
</ul>