<div class="filters">
    <form ng-submit="$ctrl.search()" class="input-group input-group-lg">
        <input class="form-control" type="text" ng-model="$ctrl.searchText"
               placeholder="{{'form.placeholder.search.faq' | translate}}">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-bind="'form.buttons.search' | translate"></button>
            <button type="button" class="btn btn-outline"
                    ng-show="params.search.length"
                    ng-click="$ctrl.clear()"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </form>
</div>

<div class="alert"
     ng-show="!$ctrl.faq.length">
    <span class="glyphicon glyphicon-info-sign"></span>
    <span ng-bind="'faq.alerts.noFaq' | translate"></span>
</div>

<div class="item"
     ng-repeat="item in $ctrl.faq">
    <h1 ng-click="$ctrl.toggleAnswer(item)">
        <span ng-bind="item.question"></span>
        <span class="glyphicon"
              ng-class="{'glyphicon-chevron-right' : item.isCollapsed, 'glyphicon-chevron-down' : !item.isCollapsed}"></span>
    </h1>
    <div class="answer" ng-bind-html="item.answer" uib-collapse="item.isCollapsed"></div>
</div>

<uib-pagination
        ng-show="$ctrl.total > params.limit"
        total-items="$ctrl.total"
        items-per-page="params.limit"
        template-url="pagination.template.html"
        max-size="5"
        rotate="false" data-ng-model="params.page"
        previous-text="{{'form.buttons.prev' | translate}}"
        next-text="{{'form.buttons.next' | translate}}"></uib-pagination>