<div class="padding">
    <div class="container">
        <div class="item">
            <h1 ng-bind="$ctrl.item.question">
            </h1>
            <div class="answer" ng-bind-html="$ctrl.item.answer"></div>
        </div>
    </div>
</div>