<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-8 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
                <h1 ng-bind="$ctrl.currentError"></h1>
                <h2 ng-bind="'errors.titles.'+$ctrl.currentError | translate"></h2>
                <p ng-bind="'errors.descriptions.'+$ctrl.currentError | translate"></p>
            </div>
        </div>
    </div>
</div>